<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<a th:href="@{'/p/'+${product.alias}}"
		class="product-item-container text-dark text-decoration-none position-relative" th:fragment="content">
		<div class="product-img-container">
			<img th:src="@{${product.mainImagePath}}" />
		</div>
		<div class="product-item-content-container p-2">
			<div class="product-item-top">
				<div class="product-item-name">[[${product.shortName}]]</div>

				<!--star rating-->
				<div class="d-flex justify-content-between">
					<div th:replace="~{fragments :: star_rating}"></div>
					<div class="ml-auto d-flex align-items-center">
						<span class="text-secondary text-sold">5 sold</span>
					</div>
				</div>

			</div>
			<!--star rating-->
			<div th:fragment="product_price" th:remove="tag">
				<div class="d-flex justify-content-between product-item-price-container"
					th:if="${product.discountPercent &lt;= 0}">
					<div class="mt-auto">
						<div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">
						</div>
					</div>
				</div>

				<div th:if="${product.discountPercent > 0}"
					class="d-flex flex-column product-item-price-container justify-content-end">
					<!--Price-->
					<del th:if="${product.discountPercent > 0}" class="text-secondary mr-1 " style="font-size: small;">
						<div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">
						</div>
					</del>
					<span>
						<div th:replace="~{product/product_fragment :: price_fragment(${product.discountPrice})}">
						</div>
					</span>
				</div>
			</div>
			<div class="btn-sale-container">
				<button class="btn-sale btn">
					-[[${#numbers.formatDecimal(product.discountPercent, 1,
					THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] %
				</button>
			</div>

		</div>
	</a>

	<div th:fragment="price_fragment(productPrice)" th:remove="tag">
		<span style="font-size: 12px;font-weight: 400">
			<span class="text-secondary" th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}"
				th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
		</span>
		[[${#numbers.formatDecimal(productPrice, 1, THOUSANDS_POINT_TYPE,
		DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}"
			th:remove="tag"><sup>[[${CURRENCY_SYMBOL}]]</sup></span>

	</div>
</body>

</html>