<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content">

		<div class="">
			<h3 id="review">Product Ratings</h3>
		</div>
		<div class="product-detail_rating-top-container">
			<div class="d-flex justify-content-between">
				<div class="d-flex align-items-center">
					<div class="mr-2 font-weight-bold"><span class="rating-product_rating-number"
							id="ratingNumber">[[${product.averageRating}]]</span></div>
					<div class="product-detail_rating-product-container">
						<input type="text" class="product-detail-rating-star" dir="ltr" data-size="sm"
							th:value="${product.averageRating}" />
					</div>
				</div>
				<div class=" m-1 ml-3">
					<a th:href="@{'/ratings/' + ${product.alias}}" class="btn btn-outline-primary">View all
						([[${product.reviewCount}]])</a>
				</div>
			</div>
			<div th:if="${customerReviewed}" class="">
				<span class="text-success">You have already rated this product.</span>
			</div>
		</div>
		<div th:if="${customerCanReview}" class="">
			<span class="text-info">
				You purchased and got this product.
				<b>
					<a th:href="@{'/write_review/product/' + ${product.id}}">Write Your Review Now</a>
				</b>
			</span>
		</div>
		<div th:replace="~{reviews/reviews_votes :: content}"></div>
	</div>
</body>

</html>