<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<a th:href="@{'/p/'+${product.alias}}" class="product-item-container text-dark text-decoration-none"
		th:fragment="content">
		<div class="product-img-container">
			<img width="150px" th:src="@{${product.mainImagePath}}" />
		</div>
		<div class="product-item-content-container p-2">
			<div class="product-item-name">[[${product.shortName}]]</div>
			<div th:if="${product.discountPercent <= 0}" class="product-item-price-container">
				<div th:replace="~{product/product_fragment :: price_fragment(${product.price})}"></div>
			</div>
			<div th:if="${product.discountPercent > 0}" class="product-item-price-container">
				<span style="font-size: larger; color: darkred;">
					<div th:replace="~{product/product_fragment :: price_fragment(${product.discountPrice})}"></div>
				</span>
				<del>
					<span>
						<div th:replace="~{product/product_fragment :: price_fragment(${product.discountPrice})}"></div>
					</span>
				</del>
			</div>
		</div>
	</a>

	<div th:fragment="price_fragment(productPrice)" th:remove="tag">
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
		[[${#numbers.formatDecimal(productPrice, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span
			th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
	</div>
</body>

</html>