<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="~{fragments :: page_head(${pageTitle},'tag')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-homepage.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/container-product.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
	<div class="w-100 h-100">
		<div class="d-flex flex-column w-100 h-100">

			<div th:replace="~{navigation :: header_menu}"></div>
			<div class="w-100 my-1">
				<!--		<div th:replace="~{navigation :: search_nav}"></div>-->

				<!--breadcrumb-->
				<div class="d-flex" style="width: 100%;padding-left: 55px">
					<div th:replace="~{breadcrumb :: content}"></div>
				</div>
				<!--breadcrumb-->

				<!--product detail-->
				<div class="d-flex bg-color justify-content-center px-2">
					<!--image-->
					<div class="col-sm-3 container-detail">
						<div>
							<img id="bigImage" th:src="@{${product.mainImagePath}}" class="img-fluid" index="0"
								style="width: 100% !important; object-fit: cover;" />
						</div>

						<!--thumbnail image slide show-->
						<div class="d-flex justify-content-center">
							<div class="m-2 border border-secondary p-1">
								<img class="image-thumbnail" th:src="@{${product.mainImagePath}}" height="50"
									index="0" />
							</div>
							<!--extra image-->
							<th:block th:each="extraImage, status : ${product.images}">
								<div class="m-2 border border-secondary p-1">
									<img class="image-thumbnail" th:src="@{${extraImage.imagePath}}" height="50"
										th:index="${status.count}" />
								</div>
							</th:block>
							<!--extra image-->
						</div>
						<!--thumbnail slide show-->
						<div class="p-2">
							<div>
								<hr />
							</div>
							<div>
								<h6>Product Detail:</h6>
							</div>
							<div class="d-flex font-mode">
								<span><i class="bi bi-check-circle-fill text-primary"
										style="font-size: 15px"></i></span>
								<div th:utext="${product.shortDescription}"></div>
							</div>
						</div>
					</div>
					<!--image-->

					<!--detail-->
					<div class="col-sm-4 container-detail h-100">
						<div class="p-2">
							<div>
								<h1 class="modify-name">[[${product.name}]]</h1>
							</div>
							<div>
								<span>Brand: [[${product.brand.name}]]</span>
							</div>
							<div class="price-modify">
								List Price:
								<span th:if="${product.discountPercent <= 0}">
									<div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">
									</div>
								</span>

							</div>
							<div th:if="${product.discountPercent > 0}">
								Price:
								<del th:if="${product.discountPercent > 0}">
									<div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">
									</div>
								</del>
								<span style="font-size: larger; color: darkred">
									<div
										th:replace="~{product/product_fragment :: price_fragment(${product.discountPrice})}">
									</div>
								</span>
								([[${#numbers.formatDecimal(product.discountPercent, 1,
								THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] %
								off)
							</div>


							<div>
								<!--product full description-->
								<div class="row">
									<div class="col-12">
										<div>
											<hr />
										</div>
										<div>
											<h3>Product Description:</h3>
										</div>
										<div th:utext="${product.fullDescription}"></div>
									</div>
								</div>
								<th:block th:each="detail : ${product.details}">
									<div>
										<b>[[${detail.name}]]</b>
										<span>[[${detail.value}]]</span>
									</div>
								</th:block>
							</div>
						</div>
					</div>
					<!--detail-->

					<!--action-->
					<div class="col-sm-3 container-detail h-100">
						<div class="p-2">
							<div>
								<span th:if="${product.inStock}" class="text-success"><b>In Stock</b></span>
								<span th:unless="${product.inStock}" class="text-danger"><b>Out of Stock</b></span>
							</div>
							<div class="mt-2 quantity-container" onclick="decreaseQuantity()">
								<button class="btn btn-minus">
									<i class="bi bi-dash"></i>
								</button>
								<input type="text" value="1" min="1" class="mx-2" id="quantity" />
								<button class="btn btn-plus" onclick="increaseQuantity()">
									<i class="bi bi-plus"></i>
								</button>
							</div>
							<div class="price-modify mt-2 stick-top">
								Total Amount:
								<span th:if="${product.discountPercent <= 0}">
									<div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">
									</div>
								</span>

								<div class="mt-3">
									<input type="button" value="Buy now" class="btn btn-danger w-100" />
								</div>
								<div class="my-3">
									<input type="button" value="Add to Cart"
										class="btn btn-outline-primary text-center w-100" />
								</div>
							</div>
						</div>

						<!--action-->
					</div>
					<!--product detail-->


					<!--product full description-->

					<!--product specification-->
					<div class="">
						<div class="col-12">
							<div>
								<hr />
							</div>
							<div>
								<!--<h3>Product Details:</h3>-->
							</div>
							<th:block th:each="detail : ${product.details}">
								<div>
									<b>[[${detail.name}]]</b>
									<span>[[${detail.value}]]</span>
								</div>
							</th:block>
						</div>
					</div>
					<!--product specification-->
				</div>

				<div th:replace="~{product/images_carousel :: content}"></div>
			</div>
			<div th:replace="~{navigation :: footer_menu}"></div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			bigImage = $("#bigImage");

			$(".image-thumbnail").mouseover(function () {
				currentImageSource = $(this).attr("src");
				currentImageIndex = $(this).attr("index");
				bigImage.attr("src", currentImageSource);
				bigImage.attr("index", currentImageIndex);
			});

			bigImage.on("click", function () {
				$("#carouselModal").modal("show");
				imageIndex = parseInt(bigImage.attr("index"));
				$("#carouselExampleIndicators").carousel(imageIndex);
			});
			
			document.getElementsByClassName('btn-plus')[0].on("click", function increaseQuantity() {
				var value = parseInt(document.getElementById("quantity").value, 10);
				value = isNaN(value) ? 0 : value;
				value++;
				document.getElementById('number').value = value;
			})
			
			document.getElementsByClassName('btn-minus')[0].on("click", function decreaseQuantity() {
				var value = parseInt(document.getElementById('quantity').value, 10);
				value = isNaN(value) ? 0 : value;
				value < 1 ? value = 1 : '';
				value--;
				document.getElementById('quantity').value = value;
			})

			//increase, decrease quantity
			
			
		});

	</script>
</body>

</html>