<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
	<div th:fragment="content">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<h3 id="qa">Questions & answers</h3>
			<div>
				<div sec:authorize="isAuthenticated()">
					<div>
						<th:block th:if="${numberOfQuestions > 3}">
							<a th:href="@{'/questions/' + ${product.alias}}" class="btn btn-outline-primary">View all
								([[${numberOfQuestions}]]) </a>
						</th:block>
					</div>
				</div>
				<div sec:authorize="!isAuthenticated()">
					<form th:action="@{'/ask_question/' + ${product.alias}}">
						<button class="btn btn-outline-primary" type="submit">Ask a Question</button>
						<th:block th:if="${numberOfQuestions > 3}">
							<a th:href="@{'/questions/' + ${product.alias}}" class="btn btn-outline-primary ml-2">View all
								([[${numberOfQuestions}]])</a>
						</th:block>
					</form>
				</div>
			</div>
		</div>
		<div sec:authorize="isAuthenticated()">
			<form class="form-inline my-3 px-4 w-100 d-flex justify-content-between" id="formQuestion">
				<div class="form-textarea">
					<textarea id="question" class="form-control w-100" rows="2" placeholder="Type your question here..."
						required></textarea>
				</div>
				<button id="buttonPostQuestion" class="btn btn-primary my-2 ml-2">Submit</button>
			</form>
		</div>
		<div th:replace="~{question/questions_votes :: content}"></div>
	</div>
</body>

</html>