<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-article.css}" />
</head>

<body>
	<div class="w-100 h-100">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="navigation :: header_menu"></div>
			<div class="w-100 mt-3 m-auto">
				<div style="width: 100%;height: auto;">
				<div class="article-card-container mx-5 pb-5" >
					<div class="content" style="width: 730px;height: inherit; margin:0 auto">
						<div class="text-center mt-3">
							<h2>[[${article.title}]]</h2>
						</div>
				
						<div th:utext="${article.content}" class=""></div>
						
					</div>
				</div>
			</div>
			</div>
			<div th:replace="navigation :: footer_menu"></div>
		</div>
		
	</div>
	
</body>

</html>