<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="~{fragments :: page_head('Error - PetHub','none')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-homepage.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
	<div class="w-100 h-100 error-page">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="~{navigation :: header_menu}"></div>
			<div class="w-100 d-flex justify-content-center align-items-center flex-column my-auto">
				<img th:src="@{images/404_error.png}" alt="404">
				<h1 class="text-error title">404</h2>
				<h4 class="text-error">Page not found</h4>
				<a class="btn btn-primary mt-2" th:href="@{/}">Go home</a>
			</div>
			<div th:replace="~{navigation :: footer_menu}"></div>
		</div>
	</div>
	</div>
</body>

</html>