<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Home Page Customization - PetHub Admin', 'none')}" />

<body>
	<div class="container-fluid bg-admin">
		<div class="w-100">
			<div class="d-flex w-100">
				<div th:replace="~{sidebar :: sidebar}" class="w-25" style="height: 100vh;"></div>
				<div class="d-flex flex-column" style="width: 100%;">
					<div th:replace="~{navigation :: menu}"></div>
					<div class="w-100 d-flex flex-column justify-content-center align-items-center">
						<div class="main-content-container">
							<div style="margin-top: 3rem;">
								<div class="d-flex justify-content-between w-100">
									<h2 style="color: #494A6B; font-size: 26px;">Home Page Customization (Manage
										Sections)</h2>
								</div>
								<div class="mb-2 d-flex">
									Manage sections that are displayed on the website's home page. The order of sections
									matters.<br />
									<div th:if="${message != null}" class="alert alert-success text-center">
										[[${message}]]
									</div>
								</div>

								<div class="w-100 table-container">
									<div class="table-title w-100">
										<div class="d-flex w-100">
											<div class="d-flex w-100 align-items-center mb-2">
												<div class="d-flex justify-content-around w-75">
													<a th:href="@{/sections/new/all_categories}" class="btn btn-primary rounded d-flex justify-content-center align-items-center btn-style">Add All Categories
													</a>
													
													<a th:href="@{/sections/new/product}" class="btn btn-primary rounded d-flex justify-content-center align-items-center btn-style">Add Product </a>
													
													<a th:href="@{/sections/new/category}" class="btn btn-primary rounded d-flex justify-content-center align-items-center btn-style">Add Category </a>
												
												
													
													<a th:href="@{/sections/new/brand}" class="btn btn-primary rounded d-flex justify-content-center align-items-center btn-style">Add Brand </a>
												
													<a th:href="@{/sections/new/article}" class="btn btn-primary rounded d-flex justify-content-center align-items-center btn-style">Add Article </a>
													
													<a th:href="@{/sections/new/text}" class="btn btn-primary rounded d-flex justify-content-center align-items-center btn-style">Add Text</a>
												</div>
											</div>
										</div>
									</div>



									
									<div>
										<table class="table table-striped table-hover w-100 borderless">
											<thead style="background-color: #FAFAFA; padding: 10px 0;" class="py-5">
												<tr>
													<th>ID</th>
													<th>Heading</th>
													<th>Type</th>
													<th>Position</th>
													<th>Enabled</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="section : ${listSections}">
													<td>[[${section.id}]]</td>
													<td>[[${section.heading}]]</td>
													<td>[[${section.type}]]</td>
													<td>
														<a th:href="@{'/sections/moveup/' + ${section.id}}"
															class="fas fa-chevron-up fa-2x text-decoration-none"
															title="Move this section up"></a>
														<span class="m-3">[[${section.sectionOrder}]]</span>
														<a th:href="@{'/sections/movedown/' + ${section.id}}"
															class="fas fa-chevron-down fa-2x text-decoration-none"
															title="Move this section down"></a>
													</td>
													<td>
														<div
															th:replace="~{fragments :: status(${section.enabled}, 'section', '/sections/' + ${section.id})}" />
													</td>
													<td>
														&nbsp;
														<div
															th:replace="~{fragments :: edit('section', '/sections/edit/' + ${section.type} + '/' + ${section.id})}" />
														&nbsp;
														<div
															th:replace="~{fragments :: delete('section', ${section.id}, '/sections/delete/' + ${section.id}, true)}" />
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:replace="~{fragments :: footer}"></div>
				</div>
				
			</div>
			
		</div>

		<div th:replace="~{modal_fragments :: confirm_modal}" />

		

	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/sections}]]";
		entityName = "section";

	</script>
</body>

</html>