<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<head th:replace="~{fragments :: page_head('My Reviews', 'none')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-reviews.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-profile.css}" />
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
		
</head>

<body>
	<div class="w-100 h-100">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="~{navigation :: header_menu}"></div>
			<div class="w-100 mt-3">
				<nav aria-label="breadcrumb" class="w-100 px-lg-5 px-2">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page" style="color:#007bff;;">My Reviews</li>
					</ol>
				</nav>
				<div class="w-100 address-main-container profile-main-container mt-1 mb-3">
					<div class="review-side-bar-container side-bar-profile">
						<div th:replace="~{navigation :: side_bar_profile}"></div>
					</div>
					<div class="address-content-container profile-content-container">
						<div class="w-100 d-flex justify-content-between align-items-center">
							<div class="mb-3 mr-auto">
								<span class="title-header text-left">My Reviews</span>
							</div>
							<div >
							<div th:replace="~{fragments :: search_form}"></div>
						</div>
						</div>
						
						<div>
							<table class="profile-table table table-bordered table-striped table-hover">
								<thead class="profile-table-header">
									<tr>
										<th th:replace="~{fragments :: column_link('id', 'ID', 'none')}" />
										<th th:replace="~{fragments :: column_link('product', 'Product', 'none')}" />
										<th th:replace="~{fragments :: column_link('headline', 'Headline', 'none')}" />
										<th th:replace="~{fragments :: column_link('rating', 'Rating', 'none')}" />
										<th
											th:replace="~{fragments :: column_link('reviewTime', 'Review Time', 'none')}" />
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="review : ${listReviews}">
										<td>[[${review.id}]]</td>
										<td>
											<a th:href="@{'/p/' + ${review.product.alias}}" target="_blank">
												[[${review.product.shortName}]]
											</a>
										</td>
										<td>[[${review.headline}]]</td>
										<td>[[${review.rating}]] <i class="far fa-star"></i></td>
										<td>[[${review.reviewTime}]]</td>
										<td>
											<a class="fas fa-eye link-detail text-decoration-none"
												th:href="@{'/reviews/detail/' + ${review.id}}"
												title="View details of this review"></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:replace="~{fragments :: pagination('/reviews', 'reviews', ${sortDir})}"></div>
					</div>
				</div>



				<div class="modal fade" id="detailModal">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
						</div>
					</div>
				</div>
			</div>

			<div th:replace="~{navigation :: footer_menu}"></div>

		</div>
	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/reviews}]]";
		
		var $star_rating = $(".star-rating .fa");
		var SetRatingStar = function () {
        return $star_rating.each(function () {
          if (
            parseInt(
              $star_rating.siblings("input.rating-value-modify").val()
            ) >= parseInt($(this).data("rating"))
          ) {
            return $(this).removeClass("fa-regular").addClass("fa-solid");
          } else {
            return $(this).removeClass("fa-solid").addClass("fa-regular");
          }
        });
      };
      
      $(document).ready(function () {
			handleDefaultDetailLinkClick();
			SetRatingStar();
		});
	</script>

</body>

</html>