<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" class="">
		<div class="w-100">
			<th:block th:each="review : ${listReviews}">
				<div class="w-100 px-4">
					<div >
						<div class="semibold">[[${review.customer.fullName}]]</div>
						<div class="col-xs"><input type="text" class="product-detail-rating-star" dir="ltr"
								data-size="xs" th:value="${review.rating}" /></div>
						<div class="rating-screen-time">
							<div th:replace="fragments :: format_time(${review.reviewTime})"></div>
						</div>

						<div class="mt-1 mb-2">
							<div><span class="semibold">[[${review.headline}]]</span></div>

							<div>[[${review.comment}]]</div>
						</div>

						<div class="d-flex align-items-center">
							<a class="linkVoteReview fa-thumbs-up"
								th:classappend="${review.upvotedByCurrentCustomer ? 'fas' : 'far'}"
								th:id="'linkVoteUp-review-' + ${review.id}" th:reviewId="${review.id}"
								th:href="@{'/vote_review/' + ${review.id} + '/up'}">
							</a>
							<div>
								<span th:id="'voteCount-review-' + ${review.id}" class="ml-1">[[${review.votes}]]</span>
							</div>
							<a class="linkVoteReview fa-thumbs-down ml-3"
								th:classappend="${review.downvotedByCurrentCustomer ? 'fas' : 'far'}"
								th:id="'linkVoteDown-review-' + ${review.id}" th:reviewId="${review.id}"
								th:href="@{'/vote_review/' + ${review.id} + '/down'}"></a>
						</div>
					</div>
					<div class="w-100">
						<div class="w-100">
							<hr />
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
</body>

</html>