<!DOCTYPE html>
<html smlns:th="http://www.thymeleaf.org">
	<body>
		<footer class="footer">
			<div class="footer-content d-flex justify-content-center algin-items-center flex-column">
				<div class="row">
					<div class="col-3 d-flex flex-column">
						<a class="text-decoration-none text-uppercase font-weight-bold">About Us</a>
						<a class="text-decoration-none">Overview</a>
					</div>
					<div class="col-3 d-flex flex-column">
						<a class="text-decoration-none text-uppercase font-weight-bold">Articles</a>
						<a class="texr-decoration-none">All Articles</a>
						<a class="texr-decoration-none">Featured Articles</a>
						<a class="texr-decoration-none">Most recent</a>
					</div>
					<div class="col-3 d-flex flex-column">
						<a class="text-decoration-none text-uppercase font-weight-bold">Products</a>
						<a class="texr-decoration-none">All Products</a>
						<a class="texr-decoration-none">Trending</a>
					</div>
					<div class="col-3 d-flex flex-column">
						<div>
							<img width="60px" height="60px" th:src="@{/images/Phone android.png}" />
							<a class="text-decoration-none text-uppercase font-weight-bold">Help center</a>
						</div>
						<div>
							<img th:src="@{/images/Question answer.png}" width="60px" height="60px" />
							<a class="text-decoration-none text-uppercase font-weight-bold">FAQ</a>
						</div>
					</div>
				</div>
				<div classs="d-flex justify-content-center align-items-center">
					<div class="contact-content d-flex justify-content-center align-items-center">
						<img th:src="@{/images/Facebook.png}" width="60px" height="60px" class="p-2" />
						<img th:src="@{/images/Email.png}" width="60px" height="60px" class="p-2" />
						<img th:src="@{/images/Instagram.png}" width="60px" height="60px" class="p-2" />
					</div>
				</div>
				<div class="d-flex justify-content-center align-items-center">
					<p>PetHub Control Panel - Copyright &copy; PetHub</p>
				</div>
			</div>
	</footer>

	</body>
</html>