<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{fragments :: page_head('Home - PetHub Admin','none')}" />
	<style>
		.card {
			border-radius: 20px;
		}
	</style>
</head>

<body style="background-color: #FFF8F5;">


	<div th:replace="~{public-navbar :: header}"></div>
	<div class="d-flex justify-content-center">
	<div th:replace="~{slider :: slider}"></div>
	</div>
	<div class="w-100">
		<div>
			<div class="d-flex justify-content-center">
			<div class="d-flex justify-content-between my-3 mt-5 col-lg-8 col-md-11">
				<h3 class="fs-4">Best Seller</h3>
				<button style="background-color: #E74646; border: none; color: white" class="rounded p-2">View
					more</button>
			</div>
			</div>
			<div class="d-flex justify-content-center">
				<div class="d-flex flex-wrap m-5 col-lg-8 col-md-11" style="height: 50%;">
					<div class="card mx-3 shadow mb-5 bg-white rounded"
						style="width: 19rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius: 10px;">
						<img class="card-img-top w-100 object-fit-cover"
							th:src=@{https://i.pinimg.com/564x/ea/84/5f/ea845f84e1268810dddc27b6a66ed6ad.jpg}
							alt="Product" style="width: 100%; object-fit: cover;">
						<div class="card-body">
							<div class="card-title">Cat Product</div>
							<div class="d-flex">
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<span>90</span>
							<span class="text-secondary text-decoration-line-through">190</span>
						</div>
					</div>
					<div class="card mx-3 shadow mb-5 bg-white rounded"
						style="width: 19rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
						<img class="card-img-top w-100 object-fit-cover"
							th:src=@{https://i.pinimg.com/564x/ea/84/5f/ea845f84e1268810dddc27b6a66ed6ad.jpg}
							alt="Product" style="width: 100%; object-fit: cover;">
						<div class="card-body">
							<div class="card-title">Cat Product</div>
							<div class="d-flex">
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<span>90</span>
							<span class="text-secondary text-decoration-line-through">190</span>
						</div>
					</div>
					<div class="card mx-3 shadow mb-5 bg-white rounded"
						style="width: 19rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
						<img class="card-img-top w-100 object-fit-cover"
							th:src=@{https://i.pinimg.com/564x/ea/84/5f/ea845f84e1268810dddc27b6a66ed6ad.jpg}
							alt="Product" style="width: 100%; object-fit: cover;">
						<div class="card-body">
							<div class="card-title">Cat Product</div>
							<div class="d-flex">
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<span>90</span>
							<span class="text-secondary text-decoration-line-through">190</span>
						</div>
					</div>
					<div class="card mx-3 shadow mb-5 bg-white rounded"
						style="width: 19rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
						<img class="card-img-top w-100 object-fit-cover"
							th:src=@{https://i.pinimg.com/564x/ea/84/5f/ea845f84e1268810dddc27b6a66ed6ad.jpg}
							alt="Product" style="width: 100%; object-fit: cover;">
						<div class="card-body">
							<div class="card-title">Cat Product</div>
							<div class="d-flex">
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<span>90</span>
							<span class="text-secondary text-decoration-line-through">190</span>
						</div>
					</div>
					<div class="card mx-3 shadow mb-5 bg-white rounded"
						style="width: 19rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
						<img class="card-img-top w-100 object-fit-cover"
							th:src=@{https://i.pinimg.com/564x/ea/84/5f/ea845f84e1268810dddc27b6a66ed6ad.jpg}
							alt="Product" style="width: 100%; object-fit: cover;">
						<div class="card-body">
							<div class="card-title">Cat Product</div>
							<div class="d-flex">
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<span>90</span>
							<span class="text-secondary text-decoration-line-through">190</span>
						</div>
					</div>
					<div class="card mx-3 shadow mb-5 bg-white rounded"
						style="width: 19rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
						<img class="card-img-top w-100 object-fit-cover"
							th:src=@{https://i.pinimg.com/564x/ea/84/5f/ea845f84e1268810dddc27b6a66ed6ad.jpg}
							alt="Product" style="width: 100%; object-fit: cover;">
						<div class="card-body">
							<div class="card-title">Cat Product</div>
							<div class="d-flex">
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<span>90</span>
							<span class="text-secondary text-decoration-line-through">190</span>
						</div>
					</div>
					<div class="card mx-3 shadow mb-5 bg-white rounded"
						style="width: 19rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
						<img class="card-img-top w-100 object-fit-cover"
							th:src=@{https://i.pinimg.com/564x/ea/84/5f/ea845f84e1268810dddc27b6a66ed6ad.jpg}
							alt="Product" style="width: 100%; object-fit: cover;">
						<div class="card-body">
							<div class="card-title">Cat Product</div>
							<div class="d-flex">
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<span>90</span>
							<span class="text-secondary text-decoration-line-through">190</span>
						</div>
					</div>
					<div class="card mx-3 shadow mb-5 bg-white rounded"
						style="width: 19rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
						<img class="card-img-top w-100 object-fit-cover"
							th:src=@{https://i.pinimg.com/564x/ea/84/5f/ea845f84e1268810dddc27b6a66ed6ad.jpg}
							alt="Product" style="width: 100%; object-fit: cover;">
						<div class="card-body">
							<div class="card-title">Cat Product</div>
							<div class="d-flex">
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<span>90</span>
							<span class="text-secondary text-decoration-line-through">190</span>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center py-3 mt-3" style="background-color: #FFF6F1;">
				<form style="width: 40%;">
					<h3 class="text-center">Contact Us</h3>
					<div class="form-group">
						<label for="fullName">Full Name</label>
						<input type="text" class="form-control border-0" id="fullName">
					</div>
					<div class="form-group">
						<label for="fullName">Email</label>
						<input type="email" class="form-control border-0" id="fullName" aria-describedby="emailHelp">
					</div>

					<div class="form-group">
						<label for="message">Message</label>
						<textarea class="form-control border-0" id="message" rows="3"></textarea>
					</div>
					<button type="submit" style="background-color: #E74646;"
						class="btn text-light mx-auto w-100 p-3">Submit</button>
				</form>
			</div>
		</div>
		<div th:replace="~{public-footer :: footer}"></div>
	</div>
</body>

</html>