<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <title>Login - PetHub Admin</title>

    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{js/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}" />
    <script
      type="text/javascript"
      th:src="@{/webjars/jquery/jquery.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <div
      class="d-flex flex-column justify-content-center align-items-center vw-100 vh-100 login-container"
    >
      <div class="box-login-container d-flex justify-content-center">
        <div class="w-50 login-left-container">
          <img th:src=@{/images/login.jpg} alt="Login">
        </div>
        <div class="w-50 login-right-container">
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
          >
            <div class="d-flex" style="transform: translateY(21px);">
              <div th:replace="~{fragments :: logo_admin}"></div>
            </div>
            <h5 class="text-center text-primary pt-1 mt-4">Login</h5>
            <form th:action="@{/login}" method="post" class="form-container">
              <div class="form-group">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control input-field"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  id="password-field"
                  type="password"
                  name="password"
                  class="form-control input-field"
                  placeholder="Password"
                  required
                />
                <span
                  toggle="#password-field"
                  class="fa fa-fw fa-eye field-icon toggle-password"
                ></span>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <input type="checkbox" name="remember-me" />
                  <span class="ml-1" style="font-size: 15px;">Remember me</span>
                </div>
               
                <!-- No need
							<div th:if="${param.logout}" class="text-center">
								<p class="text-warning">You have been logged out.</p>
							</div>
							-->
              </div>
              <div class="form-group d-md-flex my-4">
                <input
                  type="submit"
                  value="Login"
                  class="form-control btn btn-primary submit px-3 btn-login"
                />
              </div>
              <div th:if="${param.error}" class="text-center">
                <p class="text-danger">
                  [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
                </p>
              </div>
           
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
