<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>register - PetHub Admin</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body style="background:#dee0df">
	<div class="d-flex justify-content-center align-items-center">
		<div class="d-flex m-5 w-75"
			style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;border-radius: 20px 20px 20px 20px;">
			<div class="col-6" style="padding-right: 0px; padding-left: 0px;">
				<img th:src="@{/images/register-img.jpg}" alt="">
			</div>
			<div class="col-6" style="padding-left: 0px; padding-right: 0px;">
				<div class="wrapper" >
					<div class="card card-4" style="border-radius: 0px 20px 20px 0px;">
						<div class="card-body">
							<h2 class="card-title">Register Form</h2>
							<form action method="post">
								<div class="row py-3">
									<div class="col-lg-6">
										<label class="label" for>First name</label>
										<div class="input-group">

											<input class="input--style-4" type="text" name="first_name"
												fdprocessedid="f095pm" style="
                                    width: 90%;">
										</div>
									</div>
									<div class="col-lg-6">
										<label class="label" for>Last name</label>
										<div class="input-group">

											<input class="input--style-4" type="text" name="last_name"
												fdprocessedid="f095pm" style="
                                    width: 95%;">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 py-3">
										<label class="label" for>Email</label>
										<div class="input-group">

											<input class="input--style-4 w-100" type="text" name="first_name"
												fdprocessedid="f095pm">
										</div>
									</div>
								</div>
								<div class="row py-3">
									<div class="col-lg-12 py-3">
										<label class="label" for>Password</label>
										<div class="input-group">

											<input class="input--style-4 w-100" type="password" name="first_name"
												fdprocessedid="f095pm">
										</div>
									</div>
									<div class="col-lg-12 py-3">
										<label class="label" for>Confirm password</label>
										<div class="input-group">

											<input class="input--style-4 w-100" type="password" name="last_name"
												fdprocessedid="f095pm">
										</div>
									</div>
								</div>
								<div class="pt-2">
									<button class="btn btn-primary text-light" type="submit" style=" line-height: 50px;padding: 0 50px;font-size: 18px;color: #fff;">
										Submit
									</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>