<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" th:remove="tag">
		<div th:each="brandSection : ${section.brandSections}" th:with="brand = ${brandSection.brand}">
			<div class="category-item-container p-3">
				<a th:href="@{'/b/'+${brand.name}+'/products/page/1?sortDir=default&sortField='+${sortField}}"
					class="d-flex align-items-center text-decoration-none text-secondary">
					<div class="category-img-container mr-2"><img th:src="@{${brand.logoPath}}" /></div>
					<div >
						<!--"@{'/brand/' + ${brand.id}}"-->
						<span class="text-left">[[${brand.name}]]</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>

</html>