<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="~{fragments :: page_head(${pageTitle},'none')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-register.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
	<div class="d-flex flex-column justify-content-center align-items-center vw-100 vh-100 register-container">
		<div class="box-register-container d-flex justify-content-center">
			<div class="w-50 register-left-container">
				<img th:src=@{images/login/login.png} alt="Register">
			</div>
			<div class="w-50 login-right-container">
				<div class="d-flex flex-column justify-content-center h-100 align-items-center">
					<div class="d-flex mt-3">
						<div th:replace="~{fragments :: logo_admin}"></div>
					</div>
					<h3 class="text-center text-primary py-1">Register</h3>

					<form th:action="@{/create_customer}" method="post" th:object="${customer}" class="form-container"
						onsubmit="return checkEmailUnique(this);">
						<div class="d-flex justify-content-between">
							<div class="form-group w-47">
								<label class="">First Name</label>
								<div class="">
									<input type="text" th:field="*{firstName}" class="form-control" required="required"
										maxlength="45" minlength="2" placeholder="First Name" />
								</div>
							</div>

							<div class="form-group w-47">
								<label class="">Last Name</label>
								<div class="">
									<input type="text" th:field="*{lastName}" class="form-control" required="required"
										maxlength="45" minlength="2" placeholder="Last Name" />
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<div class="form-group w-47">
								<label class="col-form-label">E-mail Address</label>
								<div>
									<input type="email" th:field="*{email}" class="form-control" required="required"
										maxlength="45" minlength="8" placeholder="Email Address" />
								</div>
							</div>
							<div class="form-group w-47">
								<label class="col-form-label">Phone Number</label>
								<div>
									<input type="text" th:field="*{phoneNumber}" class="form-control"
										required="required" maxlength="15" minlength="8" placeholder="Phone Number" />
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<div class="form-group w-47">
								<label class="col-form-label">Password</label>
								<div>
									<input type="password" th:field="*{password}" class="form-control"
										required="required" maxlength="15" minlength="6"
										oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" placeholder="Password" />
								</div>
							</div>

							<div class="form-group w-47">
								<label class="col-form-label">Confirm Password</label>
								<div>
									<input type="password" id="confirmPassword" class="form-control" required="required"
										maxlength="15" minlength="6" oninput="checkPasswordMatch(this)" placeholder="Confirm Password" />
								</div>
							</div>
						</div>


						<div class="form-group">
							<label class="col-form-label">Address Line 1</label>
							<div>
								<input type="text" th:field="*{addressLine1}" class="form-control" required="required"
									maxlength="64" minlength="3" placeholder="Address Line 1" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-form-label">Address Line 2</label>
							<div>
								<input type="text" th:field="*{addressLine2}" class="form-control" maxlength="64" placeholder="Address Line 2" />
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<div class="form-group w-47">
								<label class="col-form-label">Country</label>
								<div>
									<select class="form-control" th:field="*{country}">
										<th:block th:each="country : ${listCountries}">
											<option th:value="${country.id}">[[${country.name}]]</option>
										</th:block>
									</select>
								</div>
							</div>
							<div class="form-group w-47">
								<label class="col-form-label">Province/City</label>
								<div>
									<input type="text" th:field="*{city}" class="form-control" maxlength="45"
										minlength="2" placeholder="Province/City" />
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<div class="form-group w-47">
								<label class="col-form-label">District</label>
								<div>
									<input type="text" th:field="*{state}" class="form-control" maxlength="45"
										minlength="3" list="listStates" placeholder="District" />
									<datalist id="listStates"></datalist>
								</div>
							</div>

							<div class="form-group w-47">
								<label class="col-form-label">Zip Code</label>
								<div>
									<input type="text" th:field="*{postalCode}" class="form-control" maxlength="10"
										minlength="2" placeholder="Zip Code" />
								</div>
							</div>
						</div>
						<div class="text-center">
							<input type="submit" value="Register" class="btn btn-primary w-100" />
						</div>
						<div class="text-center my-2">
							<span>
								Already have an account? <a th:href="@{/login}" class="text-decoration-none"><b>Login</b></a>
							</span>
						</div>
					</form>

					<div>&nbsp;</div>
					<div th:replace="~{fragments :: modal_dialog}"></div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		contextPath = "[[@{/}]]";

		function checkEmailUnique(form) {
			url = contextPath + "customers/check_unique_email";
			customerEmail = $("#email").val();
			csrfValue = $("input[name='_csrf']").val();

			params = {email: customerEmail, _csrf: csrfValue};

			$.post(url, params, function (response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicated") {
					showWarningModal("There is another cusotmer having the email " + customerEmail);
				} else {
					showErrorModal("Unknown response from server");
				}
			}).fail(function () {
				showErrorModal("Could not connect to the server");
			});

			return false;
		}

	</script>
	<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
	<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
</body>

</html>