<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Verification Failed!', 'none')}" />

<body>
	<div class="w-100 h-100">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="~{navigation :: header_menu}"></div>

			<div class="w-100 d-flex flex-column justify-content-center align-items-center my-auto">
				<div
					class="text-center mt-2 registered-success-box mx-3 mx-sm-0 d-flex flex-column align-items-center justify-content-center">
					<i class="bi bi-x-circle-fill text-success d-flex justify-content-center align-items-center"></i>
					<h2 class="mt-3">Customer Verification</h2>
					<span>Your account was already verified, or the verification code
						is invalid!</span>
				</div>
			</div>

			<div th:replace="~{navigation :: footer_menu}"></div>
		</div>
	</div>
</body>

</html>