<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Categories - PetHub Admin','none')}" />


<body>
	<div class="container-fluid bg-admin">
		<div class="w-100">
			<div class="d-flex w-100">
				<div th:replace="~{sidebar :: sidebar}" class="w-25" style="height: 100vh;"></div>
				<div class="d-flex flex-column" style="width: 100%;">
					<div th:replace="~{navigation :: menu}"></div>
					<div class="w-100 d-flex flex-column justify-content-center align-items-center">
						<div class="main-content-container">
							<div style="margin-top: 3rem;">
								<div class="d-flex justify-content-between w-100">
									<h2 style="color: #494A6B; font-size: 26px;">Manage Categories</h2>
								</div>
						
								<!--begin filter and message-->
								<div class="w-100 table-container">
									<div class="table-title w-100">
										<div class="d-flex w-100">
											<div class="d-flex w-100 align-items-center mb-2">
							
											<div class="col-sm-3 d-flex">
												<a th:href="@{/categories/new}"
													class="btn btn-primary rounded d-flex justify-content-center align-items-center btn-style"
													style="background: #4E73DF;color: white; height: 30px; border: none; padding: 22px 16px; border-radius: 10px;">
													<i
														class="bi bi-plus-circle-fill mr-2 d-flex align-items-center"></i>
													<span>Create</span>
												</a>
											</div>
											<div class="col-sm-9 d-flex justify-content-end">
												<div>
													<div th:replace="~{fragments :: search_form_and_message}">
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--end filter and message-->


									<!--begin table-->
									<div>
										<table class="table table-striped table-hover w-100 borderless">
											<thead style="background-color: #FAFAFA; padding: 10px 0;" class="py-5">
												<th>ID</th>
												<th>Category Image</th>
												<th
													th:replace="~{fragments :: column_link('name', 'Category Name','none')}" />
												<th>Alias</th>
												<th>Enabled</th>
												<th>Action</th>
											</thead>
											<tbody>
												<tr th:each="cat : ${listCategories}">
													<td class="hideable-column text-center">[[${cat.id}]]</td>
													<td class="text-center">
														<img height="90px" width="90px" th:if="${cat.image == null}"
															th:src="@{/images/image-thumbnail.png}" />
														<img height="90px" width="90px" th:if="${cat.image !=null}"
															th:src="@{${cat.imagePath}}" />
													</td>
													<td>[[${cat.name}]]</td>
													<td>[[${cat.alias}]]</td>
													<td style="text-align: center;padding: 0;">
														<div
															th:replace="~{fragments :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})}" />
													</td>
													<td style="text-align: center;">
														<div
															th:replace="~{fragments :: edit('category', '/categories/edit/' + ${cat.id})}" />
														&nbsp;
														<div th:replace="~{fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id},
								${!cat.hasChildren})}" />
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									</div>
								</div>
							</div>
							<!--end table-->
							<div th:replace="~{modal_fragments :: confirm_modal}"></div>
							<div th:if="${keyword !=null}" class="text-center">
								<span>Search result does not show categories in hierachical form.</span>
								<div th:replace="~{fragments :: pagination('categories')}"></div>
							</div>

							<th:block th:unless="${keyword !=null}">
								<div th:replace="~{fragments :: pagination('top-level categories')}">
								</div>
							</th:block>

							

						</div>
					</div>
					<div th:replace="~{fragments :: footer}"></div>
				</div>

			</div>
		</div>
	</div>



	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";
		entityName = "category";
	</script>
</body>

</html>

</html>