<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Category - PetHub Admin','none')}" />


<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: menu}"></div>

		<div>
			<h2>Manage Categories</h2>
			<a th:href="@{/categories/new}">Create New Category</a>
		</div>


		<!--begin filter and message-->
		<div th:replace="~{fragments :: search_form_and_message('/categories/page/1')}" />
		<!--end filter and message-->


		<!--begin table-->
		<div>
			<table class="table table-bordered table-striped table-hover">
				<thead style="background-color: rgb(228, 228, 228);">
					<th>ID</th>
					<th>Category Image</th>
					<th th:replace="~{fragments :: column_link('/categories','name', 'Category Name','none')}" />
					<th>Alias</th>
					<th>Enabled</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr th:each="cat : ${listCategories}">
						<td>[[${cat.id}]]</td>
						<td>
							<img height="100px" width="100px" th:if="${cat.image == null}"
								th:src="@{/images/image-thumbnail.png}" />
							<img height="90px" width="90px" th:if="${cat.image !=null}" th:src="@{${cat.imagePath}}" />
						</td>
						<td>[[${cat.name}]]</td>
						<td>[[${cat.alias}]]</td>
						<td>
							<div
								th:replace="~{fragments :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})}" />
						</td>
						<td>
							<div th:replace="~{fragments :: edit('category', '/categories/edit/' + ${cat.id})}" />
							&nbsp;
							<div th:replace="~{fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id},
								${!cat.hasChildren})}" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--end table-->

		<div th:if="${keyword !=null}" class="text-center">
			<span>Search result does not show categories in hierachical form.</span>
			<div th:replace="~{fragments :: pagination('/categories','categories')}"></div>
		</div>

		<th:block th:unless="${keyword !=null}">
			<div th:replace="~{fragments :: pagination('/categories','top-level categories')}"></div>
		</th:block>

		<div th:replace="~{modal_fragments :: confirm_modal}"></div>

		<div th:replace="~{fragments :: footer}"></div>
	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'category');
			});
		});
	</script>
</body>

</html>