<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Category - PetHub Admin')}" />


<body>
	<div class="container-fluid">
		<div class="w-100">
			<div class="d-flex w-100">
				<div th:replace="~{sidebar :: sidebar}" class="w-25" style="height: 100vh;"></div>
				<div class="d-flex flex-column" style="width: 88%;">
					<div th:replace="~{navigation :: menu}"></div>
					<div class="w-100">
						<div class="p-5">

							<h2 style="text-align: center; margin: 25px;">Manage Categories</h2>
							<div class="table-title" style="width: 90%;">
								<div class="row">
									<div class="col-sm-3 item-ex" style="padding-top: 10px;">
										<a th:href="@{/categories/export/csv}" class="btn btn-secondary"><span>Export To
												CSV</span></a>
										<a th:href="@{/categories/new}" class="btn btn-dark"
											style="background:#343a40;color: white;font-weight: bold;"><span>Create New
												Category</span></a>
										&nbsp;&nbsp;
									</div>

									<div class="col-sm-9" style="display: flex;justify-content: end;">
										<div>
											<div
												th:replace="~{fragments :: search_form_and_message('/categories/page/1')}">
											</div>
										</div>
									</div>

								</div>
							</div>


							<!--begin filter and message-->

							<!--end filter and message-->


							<!--begin table-->
							<div>
								<table class="table table-bordered table-striped table-hover">
									<thead style="background-color: rgb(228, 228, 228);">
										<th>ID</th>
										<th>Category Image</th>
										<th
											th:replace="~{fragments :: column_link('/categories','name', 'Category Name','none')}" />
										<th>Alias</th>
										<th>Enabled</th>
										<th>Action</th>
									</thead>
									<tbody>
										<tr th:each="cat : ${listCategories}">
											<td class="hideable-column text-center">[[${cat.id}]]</td>
											<td class="text-center">
												<img height="90px" width="90px" th:if="${cat.image == null}"
													th:src="@{/images/image-thumbnail.png}" />
												<img height="90px" width="90px" th:if="${cat.image !=null}"
													th:src="@{${cat.imagePath}}" />
											</td>
											<td>[[${cat.name}]]</td>
											<td>[[${cat.alias}]]</td>
											<td style="text-align: center;">
												<div
													th:replace="~{fragments :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})}" />
											</td>
											<td style="text-align: center;">
												<div
													th:replace="~{fragments :: edit('category', '/categories/edit/' + ${cat.id})}" />
												&nbsp;
												<div th:replace="~{fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id},
								${!cat.hasChildren})}" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--end table-->

							<div th:if="${keyword !=null}" class="text-center">
								<span>Search result does not show categories in hierachical form.</span>
								<div th:replace="~{fragments :: pagination('/categories','categories')}"></div>
							</div>

							<th:block th:unless="${keyword !=null}">
								<div th:replace="~{fragments :: pagination('/categories','top-level categories')}">
								</div>
							</th:block>

							<div th:replace="~{modal_fragments :: confirm_modal}"></div>

						</div>
						<div class="vw-80 d-flex justify-content-center pt-1">
							<div th:replace="~{fragments :: footer}"></div>
						</div>
					</div>
				</div>
			</div>



		</div>
		<script th:src="@{/js/common_list.js}"></script>
		<script type="text/javascript">
			moduleURL = "[[@{/categories}]]";

			$(document).ready(function () {
				$(".link-delete").on("click", function (e) {
					e.preventDefault();
					showDeleteConfirmModal($(this), 'category');
				});
			});
		</script>
</body>

</html>