<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="~{fragments :: page_head('My Questions', 'none')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-question.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-profile.css}" />
</head>


<body>
	<div class="w-100 h-100">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="~{navigation :: header_menu}"></div>
			<div class="w-100 mt-3">
				<nav aria-label="breadcrumb" class="w-100 px-lg-5 px-2">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page" style="color:#007bff;;">My Questions</li>
					</ol>
				</nav>
				<div class="w-100 address-main-container profile-main-container mt-1 mb-3">
					<div class="sc-side-bar-container side-bar-profile">
						<div th:replace="~{navigation :: side_bar_profile}"></div>
					</div>
					<div class="address-content-container profile-content-container">
						<div class="w-100 d-flex justify-content-between align-items-center">
							<div class="mb-3 mr-auto">
								<span class="title-header text-left">My Questions</span>
							</div>
							<div>
								<div th:replace="~{fragments :: search_form}"></div>
							</div>
						</div>
						<div>
							<table class="profile-table table table-striped table-bordered table-hover">
								<thead class="profile-table-header">
									<tr>
										<th th:replace="~{fragments :: column_link('id', 'ID', 'none')}" />
										<th th:replace="~{fragments :: column_link('product', 'Product', 'none')}" />
										<th
											th:replace="~{fragments :: column_link('questionContent', 'Question', 'none')}" />
										<th th:replace="~{fragments :: column_link('askTime', 'Ask Time', 'none')}" />
										<th th:replace="~{fragments :: column_link('approved', 'Approved', 'none')}" />
										<th>Answered</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="question : ${listQuestions}">
										<td th:text="${question.id}">ID</td>
										<td>
											<a class="text-decoration-none" th:href="@{${question.product.URI}}"
												target="_blank"
												th:title="${question.product.name}">[[${question.product.shortName}]]</a>
										</td>
										<td th:text="${question.questionContent}">Question</td>
										<td th:text="${question.askTime}">Ask Time</td>

										<td>
											<div class="w-100 d-flex justify-content-center">
												<span class="fas text-center"
													th:classappend="${question.approved ? 'fa-check-circle text-success' : 'fa-circle icon-dark'}"></span>
											</div>
										</td>

										<td>
											<div class="w-100 d-flex justify-content-center">
												<span class="fas"
													th:classappend="${question.answered ? 'fa-check-circle text-success' : 'fa-circle icon-dark'}"></span>
											</div>
										</td>

										<td>
											<div class="d-flex justify-content-center w-100">
												<a class="fas fa-eye link-detail text-decoration-none"
													th:href="@{'/customer/questions/detail/' + ${question.id}}"
													title="View details of this question"></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div
							th:replace="~{fragments :: pagination('/customer/questions', 'questions', 'asc', ${sortField})}">
						</div>
					</div>
				</div>
				<div class="modal fade" id="detailModal">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
						</div>
					</div>
				</div>
			</div>

			<div th:replace="~{navigation :: footer_menu}"></div>
		</div>
	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/customer/questions}]]";

		$(document).ready(function () {
			handleDefaultDetailLinkClick();
		});
	</script>
</body>

</html>