<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" class="">
		<div class="w-100">
			<th:block th:each="question : ${listQuestions}">
				<div class="w-100 px-4">
					<div>
						<span class="semibold">[[${question.asker.fullName}]]</span>
					</div>
					<div class="question-datetime-container">
						<div th:replace="~{fragments :: format_time(${question.askTime})}"></div>
					</div>
					<div class="mt-1 mb-2">
						<div class="">[[${question.questionContent}]]</div>
					</div>
					<th:block th:if="${question.answered == true}">
						<div class="">
							<div><b>Answer:</b></div>
						</div>
						<div class="">
							<div>[[${question.answer}]]</div>
						</div>
						<div class="">
							<div class="ml-4"><small>[[${question.answerer.fullName}]], <div
										th:replace="~{fragments :: format_time(${question.answerTime})}"></div></small>
							</div>
						</div>
					</th:block>
					<div class="d-flex align-items-center">
						<div>
							<a class="linkVoteQuestion fa-thumbs-up"
								th:classappend="${question.upvotedByCurrentCustomer ? 'fas' : 'far'}"
								th:id="'linkVoteUp-question-' + ${question.id}" th:questionId="${question.id}"
								th:href="@{'/vote_question/' + ${question.id} + '/up'}"></a>
						</div>

						<div class="ml-1 mr-3">
							<span th:id="'voteCount-question-' + ${question.id}">[[${question.votes}]]</span>
						</div>

						<div>
							<a class="linkVoteQuestion fa-thumbs-down"
								th:classappend="${question.downvotedByCurrentCustomer ? 'fas' : 'far'}"
								th:id="'linkVoteDown-question-' + ${question.id}" th:questionId="${question.id}"
								th:href="@{'/vote_question/' + ${question.id} + '/down'}"></a>
						</div>
					</div>
					<div class="w-100">
						<hr />
					</div>
				</div>
			</th:block>
		</div>
	</div>
</body>

</html>