<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('User - PetHub Admin','none')}" />


<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: menu}"></div>

		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}">Create New User</a>
		</div>

		<!--begin filter and message-->
		<div th:replace="~{fragments :: search_form_and_message}" />
		<!--end filter and message-->


		<div>
			<table class="table table-bordered table-striped table-hover">
				<thead style="background-color: rgb(228, 228, 228);">
					<th>
						<th th:replace="~{fragments :: column_link('id', 'User ID','tag')}" />
					</th>

					<th>Photos</th>

					<th>
						<th th:replace="~{fragments :: column_link('email', 'Email','tag')}" />
					</th>

					<th th:replace="~{fragments :: column_link('firstName', 'First Name', 'none')}" />
					<th th:replace="~{fragments :: column_link('lastName', 'Last Name', 'none')}" />

					<th>Roles</th>
					<th th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}" />
					<th>Action</th>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td class="hideable-column">[[${user.id}]]</td>
						<td>
							<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
							<img style="width: 100px; height: 100px ;" th:if="${user.photos != null}"
								th:src="@{${user.photosImagePath}}" />
						</td>
						<td class="hideable-column">[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<div th:replace="~{fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})}" />
						</td>
						<td>
							<div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}" />
							&nbsp;
							<div
								th:replace="~{fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)}" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:replace="~{fragments :: pagination('users')}"></div>

		<div th:replace="~{modal_fragments :: confirm_modal}" />

		<div th:replace="~{fragments :: footer}"></div>

	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";
		entityName = "user";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'user');
			});
		});
	</script>
</body>

</html>