<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:replace="~{fragments :: page_head('Orders - PetHub Admin', 'none')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-product.css}" />

</head>

<body>
	<div class="container-fluid bg-admin">
		<div class="w-100">
			<div class="d-flex w-100">
				<div th:replace="~{sidebar :: sidebar}" class="w-25" style="height: 100vh;"></div>
				<div class="d-flex flex-column" style="width: 100%;">
					<div th:replace="~{navigation :: menu}"></div>
					<div class="w-100 d-flex flex-column justify-content-center align-items-center">
						<div class="main-content-container">
							<div style="margin-top: 3rem;">
								<div class="d-flex justify-content-between w-100">
									<h2 style="color: #494A6B; font-size: 26px;">Manage Orders</h2>
								</div>
								<div class="w-100 table-container">
									<div class="table-title w-100">
										<div class="d-flex w-100">
											<div class="col-sm-12 d-flex justify-content-end">
												<div>
													<div th:replace="~{fragments :: search_form_and_message}" />
												</div>
											</div>
										</div>
									</div>

									<div>
										<table class="table table-striped table-hover w-100 borderless">
											<thead style="background-color: #FAFAFA; padding: 10px 0;" class="py-5">
												<tr>
													<th th:replace="~{fragments :: column_link('id', 'ID', 'none')}" />
													<th
														th:replace="~{fragments :: column_link('customer', 'Customer', 'none')}" />
													<th
														th:replace="~{fragments :: column_link('total', 'Total', 'none')}" />
													<th
														th:replace="~{fragments :: column_link('orderTime', 'Order Time', 'none')}" />

													<th>
														<th
															th:replace="~{fragments :: column_link('destination', 'Destination', 'tag')}" />
													</th>

													<th>
														<th
															th:replace="~{fragments :: column_link('paymentMethod', 'Payment Method', 'tag')}" />
													</th>

													<th>
														<th
															th:replace="~{fragments :: column_link('status', 'Status', 'tag')}" />
													</th>

													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="order : ${listOrders}">
													<td>[[${order.id}]]</td>
													<td><a class="linkCustomerDetail"
															th:href="@{'/customers/detail/' + ${order.customer.id}}">
															[[${order.customer.fullName}]] </a></td>
													<td>
														<div
															th:replace="~{fragments :: format_currency(${order.total})}">
														</div>
													</td>
													<td>
														<div
															th:replace="~{fragments :: format_time(${order.orderTime})}">
														</div>
													</td>
													<td>[[${order.destination}]]</td>
													<td>[[${order.paymentMethod}]]</td>
													<td>[[${order.status}]]</td>

													<td><a class="fas fa-file-alt fa-2x icon-green linkOrderDetail"
															th:href="@{'/orders/detail/' + ${order.id}}"
															title="View details of this order"
															style="font-size: 24px;color: #A7B9EF;transform: translateY(4px);"></a>
														&nbsp;
														<div
															th:replace="~{fragments :: edit('order', '/orders/edit/' + ${order.id})}" />
														&nbsp;
														<div
															th:replace="~{fragments :: delete('order', ${order.id}, '/orders/delete/' + ${order.id}, true)}" />
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div th:replace="~{fragments :: pagination('orders')}"></div>

								<div th:replace="~{modal_fragments :: confirm_modal}"></div>

							</div>
						</div>
						<div class="modal fade" id="customerDetailModal">
							<div class="modal-dialog modal-lg">
								<div class="modal-content"></div>
							</div>
						</div>

						<div class="modal fade" id="orderDetailModal">
							<div class="modal-dialog modal-xl">
								<div class="modal-content"></div>
							</div>
						</div>

					</div>
					<div th:replace="~{fragments :: footer}"></div>
				</div>
			</div>
		</div>

	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/orders}]]";
		entityName = "order";

		$(document).ready(function () {
			handleDefaultDetailLinkClick();
			handleDetailLinkClick(".linkCustomerDetail", "#customerDetailModal");
		});
	</script>
</body>

</html>