<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!--breadcrumb-->
	<div th:fragment="content" th:remove="tag">
		<div th:if="${listCategoryParents!=null &&!listCategoryParents.empty}">
			<div class="navbar navbar-expand-lg navbar-light" style="background: #f5f5fa; margin: 0 -15px;">
			<div class="row">
				<div class="col">
					<nav style="transform: translateX(25px);">
						<ol class="breadcrumb" style="background-color: #f5f5fa!important;margin-bottom: 0px;">
							<li class="breadcrumb-item">
								<a th:href="@{/}">Home</a>
							</li>
							<th:block th:each="parent : ${listCategoryParents}">
								<li class="breadcrumb-item">
									<a th:href="@{'/c/'+${parent.alias}}">[[${parent.name}]]</a>
								</li>
							</th:block>
							<li class="breadcrumb-item" th:if="${product != null}">
								<span>[[${product.shortName}]]</span>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--breadcrumb-->
</body>

</html>