<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Error - PetHub','none')}" />

<body>
	<div class="w-100 h-100 error-page">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="~{navigation :: header_menu}"></div>
			<div class="w-100 d-flex justify-content-center align-items-center flex-column my-auto">
				<img th:src="@{images/other_error.png}" alt="other error">
				<h4 class="text-error title">Oops!</h4>
				<h4 class="text-error">Something went wrong!</h4>
				<a class="btn btn-primary mt-2" th:href="@{/}">Go home</a>
			</div>
			<div th:replace="~{navigation :: footer_menu}"></div>
		</div>
	</div>
	</div>
</body>

</html>