<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="~{fragments :: page_head('PetHub','tag')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-navigation.css}" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light nav-container shadow-sm" th:fragment="header_menu"
		style="background-color: #FFFFFF;">

		<div class="mr-2 mr-lg-4 d-flex justify-content-start align-items-center">
			<div th:replace="~{fragments :: logo_admin_2}"></div>
		</div>
		<!--button collapse-->

		<div class="search-nav-item-box-container">
			<div class="d-none d-sm-flex flex-column justify-content-center">
				<div class="w-100">
					<form th:action="@{'/search/page/1'}" method="get" class="d-flex w-100">
						<div class="d-flex search-container align-items-center">
							<input class="search px-4 search-input" type="search" name="keyword" placeholder="Search for..."
								th:value="${searchKeyword}" required>
							<input type="hidden" name="sortDir" value="default">
							<input type="hidden" name="sortField" value="default">
							<input value="Search" type="submit" class="border-0 text-primary px-4 search-button"></input>
						</div>
					</form>

				</div>
				
			</div>
			<div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
				<div>
					<ul class="navbar-nav me-auto w-100 d-flex justify-content-end">
						<th:block th:each="headerMenu : ${headerMenuItems}">
							<li class="nav-item">
								<a class="nav-link" th:href="@{'/m/' + ${headerMenu.alias}}">[[${headerMenu.title}]]</a>
							</li>
						</th:block>
						<li class="nav-item active">
							<a class="nav-link d-flex justify-content-center align-items-center px-3" th:href="@{/}" id="home"><i
									class="bi bi-house-fill d-flex align-items-center nav-general"></i><span
									class="nav-general">Home</span><span class="sr-only">(current)</span></a>
						</li>
						<!--
						<li class="nav-item">
							<a class="nav-link d-flex justify-content-center align-items-center px-3" th:href="@{/}" id="career"><i
									class="bi bi-journals d-flex align-items-center nav-general"></i><span
									class="nav-general">Career</span></a>
						</li>
						-->
						<li class="nav-item dropdown">
							<a class="nav-link d-flex justify-content-center align-items-center px-3" id="navbarDarkDropdownMenuLink"
								role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-emoji-smile d-flex align-items-center nav-general"></i>
								<th:block sec:authorize="!isAuthenticated()">
									<span class="nav-general">Account</span>
								</th:block>
								<th:block sec:authorize="isAuthenticated()">
									<span class="nav-general" sec:authentication="principal.firstName"></span>
								</th:block>
							</a>

							<div class="container">
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDarkDropdownMenuLink">
									<th:block sec:authorize="!isAuthenticated()">
										<a class="dropdown-item" th:href="@{/login}" id="login">Login or
											Register</a>
									</th:block>
									<th:block sec:authorize="isAuthenticated()">
										<a class="dropdown-item" th:href="@{/account_details}">Profile</a>
										<a class="dropdown-item" th:href="@{/orders}">My orders</a>
										<a class="dropdown-item" th:href="@{/customer/questions}">Support Center</a>
										<div class="dropdown-divider"></div>
										<!--Logout-->
										<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
											<input type="submit" value="Logout" />
										</form><a class="dropdown-item" href="javascript: document.logoutForm.submit()">Logout</a>
									</th:block>
								</div>
							</div>
						</li>
						<!--cart-->
						<li class="nav-item nav-last-item ">

							<a class="nav-link d-flex justify-content-center align-items-center " th:href="@{/cart}"><i
									class="bi bi-cart d-flex align-items-center nav-general" style="color: #0361ff;"></i></a>
						</li>
					</ul>
					<div class="text-secondary align-items-end justify-content-end mt-3 d-none d-lg-flex">
						<a th:href="@{/address_book}" class="d-flex text-decoration-none">
							<i class="bi bi-geo-alt d-flex align-items-center mr-1"></i>
							<th:block sec:authorize="!isAuthenticated()">
								<span class="text-secondary">Shipping to: <a th:href="@{/address_book}"
										class="text-decoration-none ml-1">Choose
										address</a></span>
							</th:block>
							<th:block sec:authorize="isAuthenticated()">
								<span class="text-secondary">Shipping to: <a th:if="principal.address != null"
										th:href="@{/address_book}" sec:authentication="principal.address" class="text-decoration-none ml-1"
										style="font-size: small;"></a>
								</span>
							</th:block>
						</a>
					</div>
				</div>
			</div>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<div style="display: none;">
		<div th:fragment="search_nav">
			<div class="search-bar">
				<th:block sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
						<input type="submit" value="Logout" />
					</form>
				</th:block>
				<form class="form-inline" th:action="@{/search}" method="get">
					<input type="search" name="keyword" class="form-control search" th:value="${searchKeyword}"
						placeholder="Search for..." required style="border-radius: 3px 0 0 3px;" />
					<input type="submit" value="Search" class="btn btn-outline-primary" style="border-radius: 0 3px 3px 0;" />
				</form>
			</div>
		</div>
	</div>

	<div th:fragment="footer_menu" class="w-100 mt-auto" style="background-color: #FFFFFF;">
		<div class="footer-container">
			<div class="d-flex justify-content-center p-1 p-sm-3">
				<th:block th:each="footerMenu : ${footerMenuItems}">
					<a class="text-decoration-none text-secondary mr-sm-3 mr-2"
						th:href="@{'/m/' + ${footerMenu.alias}}">[[${footerMenu.title}]]</a>

				</th:block>
			</div>
		</div>


		<!-- begin footer-->
		<div th:fragment="footer" class=" text-center m-3">
			<p class="text-secondary">[[${COPYRIGHT}]]</p>
		</div>
	</div>

	<div th:fragment="header_product" class="w-100">
		<div class="d-flex w-100 justify-content-between py-3 align-items-center product-container__header px-1 px-lg-3">
			<div class="mr-1 mr-lg-4 sort-container d-flex align-items-center">
				<span>Sort by</span>
				<a role="button" class="btn btn-outline-primary mx-1 mx-xl-3 mx-lg-2 btn-latest"
					th:href="${sortDir} == 'latest' ? @{'/c/'+${category.alias}+'/page/1?sortDir=default&sortField=default' + ${sortField}} : @{'/c/'+${category.alias}+'/page/1?sortDir=latest&sortField=createTime'}">Lastest</a>
				<a role="button" class="btn btn-outline-primary mr-1 mr-xl-3 mr-lg-2 btn-top-sales"
					th:href="${sortDir} == 'top_sales' ? @{'/c/'+${category.alias}+'/page/1?sortDir=default&sortField=default'} : @{'/c/'+${category.alias}+'/page/1?sortDir=top_sales&sortField=top_sales'}">Top
					Sales</a>
				<div class="dropdown">
					<button class="btn-sort-price btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Price
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item text-dark color-asc-picker" href="#"
							th:href="${sortDir} == 'asc' ? @{'/c/'+${category.alias}+'/page/1?sortDir=default&sortField=default' + ${sortField}} : @{'/c/'+${category.alias}+'/page/1?sortDir=asc&sortField=price'}">Ascending</a>
						<a class="dropdown-item text-dark color-desc-picker" href="#"
							th:href="${sortDir} == 'desc' ? @{'/c/'+${category.alias}+'/page/1?sortDir=default&sortField=default' + ${sortField}} : @{'/c/'+${category.alias}+'/page/1?sortDir=desc&sortField=price'}">Descending</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--header search results-->
	<div th:fragment="header_seach-results" class="w-100">
		<div class="d-flex w-100 justify-content-between py-3 align-items-center product-container__header px-1 px-lg-3">
			<div class="mr-1 mr-lg-4 sort-container d-flex align-items-center">
				<span>Sort by</span>
				<a role="button" class="btn-outline-primary btn-latest btn mx-1 mx-xl-3 mx-lg-2"
					th:href="${sortDir} == 'latest' ? @{'/search/page/1?keyword=' + ${keyword} + '&sortDir=default&sortField=default'} : @{'/search/page/1?keyword=' + ${keyword} + '&sortDir=latest&sortField=createTime'}">Latest</a>
				<a role="button" class="btn btn-outline-primary mx-1 mx-xl-3 mx-lg-2 btn-top-sales"
					th:href="${sortDir} == 'top_sales' ? @{'/search/page/1?keyword=' + ${keyword} + '&sortDir=default&sortField=default'} : @{'/search/page/1?keyword=' + ${keyword} + '&sortDir=top_sales&sortField=top_sales'}">Top
					Sales</a>
				<div class="dropdown">
					<button class="btn-sort-price btn-outline-primary btn dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Price
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item text-dark color-asc-picker" href="#"
							th:href="${sortDir} == 'asc' ? @{'/search/page/1?keyword=' + ${keyword} + '&sortDir=default&sortField=default'} : @{'/search/page/1?keyword=' + ${keyword} + '&sortDir=asc&sortField=price'}">Ascending</a>
						<a class="dropdown-item text-dark color-desc-picker" href="#"
							th:href="${sortDir} == 'desc' ? @{'/search/page/1?keyword=' + ${keyword} + '&sortDir=default&sortField=default'} : @{'/search/page/1?keyword=' + ${keyword} + '&sortDir=desc&sortField=price'}">Descending</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- header-brand -->
	<div th:fragment="header_product-brand" class="w-100">
		<div class="d-flex w-100 justify-content-between py-3 align-items-center product-container__header px-1 px-lg-3">
			<div class="mr-1 mr-lg-4 sort-container d-flex align-items-center">
				<span>Sort by</span>
				<a role="button" class="btn btn-latest btn-outline-primary mx-1 mx-xl-3 mx-lg-2"
					th:href="${sortDir} == 'latest' ? @{'/b/'+${brandName}+'/products/page/1?sortDir=default&sortField=default'} : @{'/b/'+${brandName}+'/products/page/1?sortDir=latest&sortField=createTime'}">Latest</a>
				<a role="button" class="btn btn-outline-primary mr-1 mr-xl-3 mr-lg-2 btn-top-sales"
					th:href="${sortDir} == 'top_sales' ? @{'/b/'+${brandName}+'/products/page/1?sortDir=default&sortField=default'} : @{'/b/'+${brandName}+'/products/page/1?sortDir=top_sales&sortField=top_sales'}">Top
					Sales</a>
				<div class="dropdown">
					<button class="btn-sort-price btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Price
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item text-dark color-asc-picker" href="#"
							th:href="${sortDir} == 'asc' ? @{'/b/'+${brandName}+'/products/page/1?sortDir=default&sortField=default'} : @{'/b/'+${brandName}+'/products/page/1?sortDir=asc&sortField=price'}">Ascending</a>
						<a class="dropdown-item text-dark color-desc-picker" href="#"
							th:href="${sortDir} == 'desc' ? @{'/b/'+${brandName}+'/products/page/1?sortDir=default&sortField=default'} : @{'/b/'+${brandName}+'/products/page/1?sortDir=desc&sortField=price'}">Descending</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- profile sidebar -->
	<div th:fragment="side_bar_profile">
		<div class="w-100 d-flex flex-column justify-content-center border-bottom">
			<div class="px-4 mt-3 mb-2 side-bar-profile-title d-none d-md-inline text-left">Your profile</div>
			<i class="bi bi-person-circle d-inline d-md-none mx-auto mt-3 mb-2 text-secondary text-center"></i>
		</div>
		<ul class="side-bar-profile-item-container">
			<li class="profile-sidebar-item">
				<a class="text-decoration-none text-dark" th:href="@{/account_details}">
					<div class="px-4 w-100 profile-sidebar-item-content profile-informations">
						<i class="bi bi-person-fill"></i>
						<span class="offset-1 d-none d-md-inline">Profile information</span>
					</div>
				</a>
			</li>
			<li class="profile-sidebar-item">
				<a class="text-decoration-none text-dark" th:href="@{/orders}">
					<div class="px-4 w-100 profile-sidebar-item-content profile-orders">
						<i class="bi bi-bag-fill"></i>
						<span class="offset-1 d-none d-md-inline">My orders</span>
					</div>
				</a>
			</li>
			<th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
				<li class="profile-sidebar-item">
					<a class="text-decoration-none text-dark" th:href="@{/account_change_password}">
						<div class="px-4 w-100 profile-sidebar-item-content profile-change-password">
							<i class="bi bi-file-lock2-fill"></i>
							<span class="offset-1 d-none d-md-inline">Change password</span>
						</div>
					</a>
				</li>
			</th:block>
			<li class="profile-sidebar-item">
				<a class="text-decoration-none text-dark" th:href="@{/address_book}">
					<div class="px-4 w-100 profile-sidebar-item-content profile-address-book">
						<i class="bi bi-geo-alt-fill"></i>
						<span class="offset-1 d-none d-md-inline">Address Book</span>
					</div>
				</a>
			</li>
			<li class="profile-sidebar-item">
				<a class="text-decoration-none text-dark" th:href="@{/reviews}">
					<div class="px-4 w-100 profile-sidebar-item-content profile-reviews">
						<i class="bi bi-star-fill"></i>
						<span class="offset-1 d-none d-md-inline">My reviews</span>
					</div>
				</a>
			</li>
			<li class="profile-sidebar-item">
				<a class="text-decoration-none text-dark" th:href="@{/customer/questions}">
					<div class="px-4 w-100 profile-sidebar-item-content profile-support-center">
						<i class="bi bi-headset"></i>
						<span class="offset-1 d-none d-md-inline">Support Center</span>
					</div>
				</a>
			</li>
		</ul>
	</div>

</body>

</html>