<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>slider</title>
	<link th:href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" th:href="../static/style.css" />
</head>

<body>
	<div class="d-flex w-100 h-100">
		<div class="slider h-100" th:fragment="slider">
			<div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner h-100">
					<div class="carousel-item active h-100">
						<img th:src=@{/images/home-slider/slide1.png} alt="Slide1" class="d-block w-100 h-100" style="object-fit: fill;" />
					</div>
					<div class="carousel-item h-100">
						<img th:src=@{/images/home-slider/slide2.png} alt="Slide2" class="d-block w-100 h-100"
							style="object-fit: fill;"  />
					</div>
					<div class="carousel-item h-100">
						<img th:src=@{/images/home-slider/slide3.png} alt="Slide3" class="d-block w-100 h-100"
							style="object-fit: fill;"  />
					</div>
					<div class="carousel-item h-100">
						<img th:src=@{/images/home-slider/slide4.png} alt="Slide4" class="d-block w-100 h-100" style="object-fit: fill;"  />
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only"></span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script th:src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script th:src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</html>