<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="~{fragments :: page_head('Your Account Details', 'none')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-homepage.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-profile.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
	<div class="w-100 h-100">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="~{navigation :: header_menu}"></div>
			<div class="w-100 d-flex flex-column align-items-center mb-5">
				<nav aria-label="breadcrumb" class="w-100">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Profile</li>
					</ol>
				</nav>

				<div class="modal-account-container">
					<div class="my-2">
						<span class="title-header">Profile Information</span>
					</div>

					<form th:action="@{/update_account_details}" method="post" th:object="${customer}"
						class="form-acount-container position-relative">
						<input type="hidden" th:field="*{id}" /> <input type="hidden" name="redirect"
							th:value="${param.redirect}" />

						<div class="d-block d-lg-flex justify-content-center w-100">
							<!--information-->
							<div class="left-container">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">First Name:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{firstName}" class="form-control"
											required="required" maxlength="45" minlength="2" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Last Name:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{lastName}" class="form-control"
											required="required" maxlength="45" minlength="2" />
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Address Line 1:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{addressLine1}" class="form-control"
											required="required" maxlength="64" minlength="3" />
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Address Line 2:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{addressLine2}" class="form-control"
											maxlength="64" />
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-4 col-form-label">City:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{city}" class="form-control" maxlength="45"
											minlength="2" />
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Country:</label>
									<div class="col-sm-8">
										<select class="form-control" th:field="*{country}">
											<th:block th:each="country : ${listCountries}">
												<option th:value="${country.id}">[[${country.name}]]</option>
											</th:block>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-4 col-form-label">State/Province:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{state}" class="form-control" maxlength="45"
											minlength="3" list="listStates" />
										<datalist id="listStates"></datalist>
									</div>
								</div>

								<!--password-->
								<th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Password:</label>
										<div class="col-sm-8">
											<input type="password" th:field="*{password}" class="form-control"
												maxlength="15" minlength="6"
												oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Re-type Password:</label>
										<div class="col-sm-8">
											<input type="password" id="confirmPassword" class="form-control"
												maxlength="15" minlength="6" oninput="checkPasswordMatch(this)" />
										</div>
									</div>
								</th:block>
								<!--password-->
								<div class="text-center d-none d-lg-flex flex-column align-items-center">
									<input type="submit" value="Update" class="btn btn-primary" />
									<div th:if="${message != null}" class="text-success d-flex mt-2">[[${message}]]<i
											class="bi bi-check-circle-fill text-success ml-2"
											style="font-size: 15px; display: flex; align-items: center"></i></div>
								</div>
							</div>
							<!--information-->

							<!--container item 2-->
							<div class="right-container">
								<!--phone email-->
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Phone Number:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{phoneNumber}" class="form-control"
											required="required" maxlength="15" minlength="8" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">E-mail:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{email}" class="form-control"
											readonly="readonly" />
									</div>
								</div>
								<!--phone email-->
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Postal Code:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{postalCode}" class="form-control" maxlength="10"
											minlength="2" />
									</div>
								</div>
								<!--link-->
								<div class="form-group">
									<span class="form-title">Social media link</span>
									<div class="d-flex justify-content-between w-100 my-4">
										<div class="facebook d-flex">
											<i
												class="bi bi-facebook mr-2 d-flex justify-content-center text-primary px-1"></i>
											<span>Facebook</span>
										</div>
										<th:block th:if="${customer.authenticationType.name() == 'FACEBOOK'}">
											<button type="button"
												class="btn btn-outline-primary btn-account-linked">Link</button>
										</th:block>
										<th:block th:if="${customer.authenticationType.name() != 'FACEBOOK'}">
											<button type="button"
												class="btn btn-outline-primary btn-account-unlinked">Unlinked</button>
										</th:block>
									</div>
									<div class="d-flex justify-content-between">
										<div class="google">
											<img th:src=@{images/logo-google.png} alt="Logo Google" class="mx-2"
												style="height: 24px; width: 24px; object-fit: cover;">
											<span>Google</span>
										</div>
										<th:block th:if="${customer.authenticationType.name() == 'GOOGLE'}">
											<button type="button"
												class="btn btn-outline-primary btn-account-linked">Linked</button>
										</th:block>
										<th:block th:if="${customer.authenticationType.name() != 'GOOGLE'}">
											<button type="button"
												class="btn btn-outline-primary btn-account-unlinked">Unlinked</button>
										</th:block>
									</div>
									<!--
									<label class="col-sm-4 col-form-label">Authentication Type:</label>
									<div class="col-sm-8">
										<input type="text" th:field="*{authenticationType}" class="form-control"
											readonly="readonly" />
									</div>
									-->
								</div>
								<!--link-->

							</div>
							<div class="text-center d-flex d-lg-none flex-column align-items-center">
								<input type="submit" value="Update" class="btn btn-primary" />
								<div th:if="${message != null}" class="text-success d-flex mt-2">[[${message}]]<i
										class="bi bi-check-circle-fill text-success ml-2"
										style="font-size: 15px; display: flex; align-items: center"></i></div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div th:replace="~{navigation :: footer_menu}"></div>
		</div>
	</div>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
	</script>
	<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
</body>

</html>