<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="~{fragments :: page_head('Customers - PetHub Admin', 'none')}" />
<link rel="stylesheet" type="text/css" th:href="@{/style-product.css}" />
</head>
<body>
	<div class="container-fluid bg-admin">
		<div class="w-100">
			<div class="d-flex w-100">
				<div th:replace="~{sidebar :: sidebar}" class="w-25" style="height: 100vh;"></div>
				<div class="d-flex flex-column" style="width: 100%;">
					<div th:replace="~{navigation :: menu}"></div>
					<div class="w-100 d-flex flex-column justify-content-center align-items-center">
						<div class="main-content-container">
							<div style="margin-top: 3rem;">
								<div class="d-flex justify-content-between w-100">
									<h2 style="color: #494A6B; font-size: 26px;">Manage Customers</h2>
								</div>
								<div class="w-100 table-container">
									<div class="table-title w-100">
										<div class="d-flex w-100">
											<div class="col-sm-12 d-flex justify-content-end">
												<div>
													<div th:replace="~{fragments :: search_form_and_message}" />
												</div>
											</div>
										</div>
									</div>

									<div>
										<table class="table table-striped table-hover w-100 borderless">
											<thead style="background-color: #FAFAFA; padding: 10px 0;" class="py-5">
												<tr>
													<th th:replace="~{fragments :: column_link('id', 'ID', 'none')}" />
													<th
														th:replace="~{fragments :: column_link('firstName', 'First Name', 'none')}" />
													<th
														th:replace="~{fragments :: column_link('lastName', 'Last Name', 'none')}" />

													<th>
														<th
															th:replace="~{fragments :: column_link('email', 'E-mail', 'tag')}" />
													</th>

													<th>
														<th
															th:replace="~{fragments :: column_link('city', 'City', 'tag')}" />
													</th>

													<th>
														<th
															th:replace="~{fragments :: column_link('province', 'Province', 'tag')}" />
													</th>

													<th
														th:replace="~{fragments :: column_link('country', 'Country', 'none')}" />
													<th
														th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}" />
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="customer : ${listCustomers}">
													<td>[[${customer.id}]]</td>
													<td>[[${customer.firstName}]]</td>
													<td>[[${customer.lastName}]]</td>
													<td>[[${customer.email}]]</td>
													<td>[[${customer.city}]]</td>
													<td>[[${customer.province}]]</td>
													<td>[[${customer.country.name}]]</td>
													<td style="padding-top: 0px;">
														<div
															th:replace="~{fragments :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})}" />
													</td>
													<td><a class="fas fa-file-alt fa-2x icon-green link-detail"
															th:href="@{'/customers/detail/' + ${customer.id}}" 
															title="View details of this customer" style="font-size: 24px;color: #A7B9EF;transform: translateY(4px);"></a>
														&nbsp;
														<div
															th:replace="~{fragments :: edit('customer', '/customers/edit/' + ${customer.id})}" />
														&nbsp;
														<div
															th:replace="~{fragments :: delete('customer', ${customer.id}, '/customers/delete/' + ${customer.id}, true)}" />
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div th:replace="~{fragments :: pagination('customers')}"></div>

								<div th:replace="~{modal_fragments :: confirm_modal}"></div>

							</div>
						</div>

						<!--No edit-->
						<div class="modal fade" id="detailModal">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
								</div>
							</div>
						</div>
					</div>
					<div class="w-100 d-flex justify-content-center" th:replace="~{fragments :: footer}"></div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/common_list.js}"></script>
		<script type="text/javascript">
			moduleURL = "[[@{/customers}]]";
			entityName = "customer";

		$(document).ready(function () {
			handleDefaultDetailLinkClick();
		});
	</script>
	
</body>

</html>