<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="~{fragments :: page_head(${pageTitle}, 'tag')}" />
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<script th:src="@{/richtext/jquery.richtext.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/style-product-form.css}" />
</head>

<body>

	<div class="container-fluid">
		<div class="w-100">
			<div class="d-flex w-100">
				<div th:replace="~{sidebar :: sidebar}" class="w-25"></div>
				<div class="d-flex flex-column" style="width: 88%;">
					<div th:replace="~{navigation :: menu}"></div>
					<div class="w-80">
						<div class="p-5">
							<h2 style="text-align: center;">Manage Products | [[${pageTitle}]]</h2>

							<form th:action="@{/products/save}" method="post" th:object="${product}"
								onsubmit="return checkUnique(this)" enctype="multipart/form-data">
								<input type="hidden" th:field="*{id}" />
								<input th:if="${product.category != null}" type="hidden" id="categoryId"
									th:value="${product.category.id}" />

								<!-- Product tabs -->
								<ul class="nav nav-tabs" id="myTab" role="tablist"
									style="background:#4e73df;font-size: 14px;font-weight: bold;border-radius: 15px 15px 0px 0px;">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#overview" role="tab"
											style="border-radius: 15px 15px 15px 0px;">Overview</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#description" role="tab"
											style="border-radius: 15px 15px 15px 15px;">Description</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#images" role="tab"
											style="border-radius: 15px 15px 15px 15px;">Images</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#details" role="tab"
											style="border-radius: 15px 15px 15px 15px;">Details</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#shipping" role="tab"
											style="border-radius: 15px 15px 15px 15px;">Shipping</a>
									</li>
								</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active p-3" id="overview" role="tabpanel">
					<div th:replace="~{products/product_overview :: content}" />
				</div>


				<div class="tab-pane" id="description" role="tabpanel">
					<th:block sec:authorize="hasAnyAuthority('Salesperson')">
						<div th:replace="~{products/product_description_read_only :: content}" />
					</th:block>

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<div th:replace="~{products/product_description :: content}" />
					</th:block>
				</div>



				<div class="tab-pane" id="images" role="tabpanel">
					<th:block sec:authorize="hasAnyAuthority('Salesperson')">
						<div th:replace="~{products/product_images_read_only :: content}" />
					</th:block>

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<div th:replace="~{products/product_images :: content}" />
					</th:block>
				</div>


				<div class="tab-pane p-3" id="details" role="tabpanel">
					<th:block sec:authorize="hasAnyAuthority('Salesperson')">
						<div th:replace="~{products/product_details_read_only :: content}" />
					</th:block>

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<div th:replace="~{products/product_details :: content}" />
						<div>
							<input type="button" class="btn btn-secondary" onclick="return addNextDetailSection()"
								value="Add More Details" />
						</div>
					</th:block>
				</div>


				<div class="tab-pane p-3" id="shipping" role="tabpanel">
					<th:block sec:authorize="hasAnyAuthority('Salesperson')">
						<div th:replace="~{products/product_shipping_read_only :: content}" />
					</th:block>

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<div th:replace="~{products/product_shipping :: content}" />
					</th:block>
				</div>
			</div>

								<!--Action-->
								<div class="text-center">
									<input type="submit" value="Save" class="btn btn-primary m-3" />
									<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
								</div>
							</form>

							<div th:replace="~{modal_fragments :: modal_dialog}"></div>
							<div th:replace="~{fragments :: footer}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	MAX_FILE_SIZE = 1048576; //; 1MB
	moduleURL = "[[@{/products}]]";
	brandModuleURL = "[[@{/brands}]]";
	defaultImageThumbnailSrc = "[[@{/images/image-thumbnail.png}]]";
	checkUniqueUrl = "[[@{/products/check_unique}]]";

</script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/product_form_overview.js}"></script>
<script th:src="@{/js/product_form_images.js}"></script>
<script th:src="@{/js/product_form_details.js}"></script>

</html>