<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{fragments :: page_head('Products - PetHub Admin','none')}" />


<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: menu}"></div>

		<div>
			<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<h2>Manage Products</h2>
				<a th:href="@{/products/new}">Create New Product</a>
			</th:block>
		</div>


		<!--begin filter and message-->
		<form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
			<input type="hidden" name="sortField" th:value="${sortField}" required />
			<input type="hidden" name="sortDir" th:value="${sortDir}" required />

			Category:
			<select class="form-control m-3" name="categoryId" id="dropdownCategory">
				<option value="0"> All Categories</option>
				<th:block th:each="cat:${listCategories}">
					<option th:value="${cat.id}" th:selected="(${categoryId} == ${cat.id})"> [[${cat.name}]]</option>
				</th:block>
			</select>
			&nbsp;&nbsp; &nbsp;&nbsp;


			Filter:
			<input type="search" name="keyword" th:value="${keyword}" class="form-control m-3" required />
			&nbsp;&nbsp;
			<input type="submit" value="Search" class="btn btn-primary" />
			&nbsp;&nbsp;
			<input type="button" value="Clear" class="btn btn-dark" onclick="clearFilter()" />
		</form>

		<!--message begin-->
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		<!--end message-->
		<!--end filter and message-->


		<!--begin table-->
		<div>
			<table class="table table-bordered table-striped table-hover">
				<thead style="background-color: rgb(228, 228, 228);">
					<th th:replace="~{fragments :: column_link('id', 'ID', 'none')}" />
					<th>Main Image</th>
					<th th:replace="~{fragments :: column_link('name', 'Product Name', 'none')}" />
					<th th:replace="~{fragments :: column_link('brand', 'Brand', 'none')}" />
					<th th:replace="~{fragments :: column_link('category', 'Category', 'none')}" />

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<th th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}" />
					</th:block>
					<th>Action</th>
				</thead>
				<tbody>
					<tr th:each="product : ${listProducts}">
						<td>[[${product.id}]]</td>
						<td>
							<img th:src="@{${product.mainImagePath}}" width="120px" height="120px" />
						</td>
						<td>
							<!--Khong sua class= link-detail thanh cai khac-->
							<!--Khong sua class= link-detail thanh cai khac-->
							<a class="link-detail" th:href="@{'/products/detail/' +${product.id}}"
								th:title="${product.name}">[[${product.shortName}]]</a>
							<!--Khong sua class= link-detail thanh cai khac-->
							<!--Khong sua class= link-detail thanh cai khac-->
						</td>
						<td>[[${product.brand.name}]]</td>
						<td>[[${product.category.name}]]</td>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
							<td>
								<div
									th:replace="~{fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})}" />
							</td>
						</th:block>
						<td>
							<!--Khong sua class= link-detail/link-delete thanh cai khac-->
							<!--Khong sua class= link-detail/link-delete thanh cai khac-->
							<a class="fas fa-file-alt fa-2x icon-green link-detail"
								th:href="@{'/products/detail/' +${product.id}}"
								title="View the detail of this product"></a>
							<!--Khong sua class= link-detail/link-delete thanh cai khac-->
							<!--Khong sua class= link-detail/link-delete thanh cai khac-->

							&nbsp;
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
								<div th:replace="~{fragments :: edit('product', '/products/edit/' + ${product.id})}" />
							</th:block>
							&nbsp;

							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
								<div
									th:replace="~{fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id},true)}" />
								<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">

						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--end table-->

		<div th:replace="~{modal_fragments :: confirm_modal}"></div>


		<!--No edit-->
		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
				</div>
			</div>
		</div>
		<!--No edit-->
		<div th:replace="~{fragments :: pagination('products')}"></div>

		<div th:replace="~{fragments :: footer}"></div>
	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/products}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'product');
			});

			$(".link-detail").on("click", function (e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});


			$("#dropdownCategory").on("change", function (e) {
				$("#searchForm").submit();
			});
		});
	</script>
</body>

</html>