<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Products - PetHub Admin','none')}" />


<body>
	<div class="container-fluid">
		<div class="w-100">
			<div class="d-flex w-100">
				<div th:replace="~{sidebar :: sidebar}" class="w-25"></div>
				<div class="d-flex flex-column" style="width: 88%;">
					<div th:replace="~{navigation :: menu}"></div>
					<div class="w-100">
						<div class="p-5">
							<h2 style="text-align: center;margin: 25px;">Manage Products</h2>
							<div class="table-title" style="width: 1147px;">
								<div class="row">
									<div class="col-sm-3 item-ex" style="padding-top: 10px;">
										<a th:href="@{/products/export/csv}" class="btn btn-secondary"><span>Export To
												CSV</span></a>
										<a th:href="@{/products/new}" class="btn btn-dark"
											style="background:#343a40;color: white;font-weight: bold;"><span>Create New
												Product</span></a>
										&nbsp;&nbsp;
									</div>

									<!--begin filter and message-->
									<div class="col-sm-9" style="display: flex;justify-content: end;">
										<div th:replace="~{fragments :: search_form_and_message('/products/page/1')}" />
									</div>
								</div>
							</div>
							<!--end filter and message-->


		<!--begin table-->
		<div>
			<table class="table table-bordered table-striped table-hover" style="width: 1147px;">
				<thead style="background-color: rgb(228, 228, 228);">
					<th>ID</th>
					<th>Main Image</th>
					<th>Product Name</th>
					<th>Brand</th>
					<th>Categories</th>
					<th>Enabled</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr th:each="product : ${listProducts}">
						<td>[[${product.id}]]</td>
						<td >
							<img th:src="@{${product.mainImagePath}}"  width="120px" height="120px"/>
						</td>
						<td>[[${product.name}]]</td>
						<td>[[${product.brand.name}]]</td>
						<td>[[${product.category.name}]]</td>
						<td style="text-align: center;">
							<div
								th:replace="~{fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})}" />
						</td>
						<td>
							<a class="fas fa-file-alt fa-2x icon-green" th:href="@{'/products/detail/' +${product.id}}"
								title="View the detail of this product"></a>
							&nbsp;
							<div th:replace="~{fragments :: edit('product', '/products/edit/' + ${product.id})}" />
							&nbsp;
							<div
								th:replace="~{fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id},true)}" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--end table-->

		<div th:replace="~{modal_fragments :: confirm_modal}"></div>

							<div th:replace="~{fragments :: footer}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end table-->


	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/brands}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'product');
			});
		});
	</script>
</body>

</html>