<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head(${pageTitle}, 'none')}" />

<body>
	<div class="container-fluid">
		<div class="w-100">
			<div class="d-flex w-100">
				<div th:replace="~{sidebar :: sidebar}" class="w-25" style="height: 100vh"></div>
				<div class="d-flex flex-column" style="width: 88%">
					<div th:replace="~{navigation :: menu}"></div>
					<div class="w-100">
						<div class="p-5">
							<div>
								<div style="text-align: center">
									<div>
										<h2>Manage Shipping Rates | [[${pageTitle}]]</h2>
									</div>
								</div>
								<form th:action="@{/shipping_rates/save}" th:object="${rate}" method="post"
									style="max-width: 780px; margin: 0 auto;">
									<input type="hidden" th:field="*{id}" />
									<div class="p-3" style="
                      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                      border-radius: 15px;
                      background: white;
                    ">
										<div class="form-group row">
											<label for="country" class="col-sm-4 col-form-label">Destination
												Country:</label>
											<div class="col-sm-8">
												<select th:field="*{country}" class="form-control">
													<option th:each="country : ${listCountries}"
														th:value="${country.id}">
														[[${country.name}]]
													</option>
												</select>
											</div>
										</div>

										<div class="form-group row">
											<label for="province" class="col-sm-4 col-form-label">Destination
												province/Province:</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" th:field="*{province}"
													minlength="3" maxlength="64" list="listProvinces" required>
												<datalist id="listProvinces">

												</datalist>
											</div>
										</div>

										<div class="form-group row">
											<label for="postalCode" class="col-sm-4 col-form-label">Shipping
												Rate (per DIM weight):</label>
											<div class="col-sm-8">
												<input type="number" class="form-control" th:field="*{rate}" required
													step="0.01" min="0">
											</div>
										</div>

										<div class="form-group row">
											<label for="postalCode" class="col-sm-4 col-form-label">Days
												to deliver:</label>
											<div class="col-sm-8">
												<input type="number" class="form-control" th:field="*{days}" required
													step="1" min="0">
											</div>
										</div>

										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Cash On Delivery
												(COD):</label>
											<div class="col-sm-8 pt-1">
												<input type="checkbox" th:field="*{codSupported}" />
											</div>
										</div>

										<div class="text-center">
											<input type="submit" value="Save" class="btn btn-primary m-3" /> <input
												type="button" value="Cancel" class="btn btn-secondary"
												id="buttonCancel" />
										</div>
									</div>
								</form>

								<div th:replace="~{modal_fragments :: modal_dialog}"></div>
							</div>
						</div>
						<div th:replace="~{fragments :: footer}"></div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			contextPath = "[[@{/}]]";
			moduleURL = "[[@{/shipping_rates}]]";
		</script>
		<script th:src="@{/js/common_form.js}"></script>
		<script th:src="@{/js/common_form_country_province.js}"></script>
</body>

</html>