*.icon-silver {
	color: rgb(75, 75, 75)
}

*.icon-green {
	color: rgb(0, 128, 0)
}

*.icon-dark {
	color: gray
}

.footer {
	background-color: black;
	color: white;
	width: 100vw;
	position: fixed;
	bottom: 0;
}

.footer-content {
	width: 80%;
}

.contact-content {
	width: 200px;
}