<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="~{fragments :: page_head('Check Out', 'none')}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-checkout.css}" />
</head>

<body>
	<div class="w-100 h-100">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="~{navigation :: header_menu}"></div>
			<div class="w-100 my-3 checkout-container">
				<h4 class="text-uppercase mb-3">Check Out</h4>

				<div class="d-block d-md-flex">
					<div class="checkout-left-container">
						<div class="checkout-card">
							<div class="w-100">
								<div class="mb-3">
									<h5>Order Summary</h5>
								</div>
								<div class="w-100">
									<div class="w-100">
										<th:block th:each="item, status : ${cartItems}">
											<div th:with="product = ${item.product}" class="checkout-product-item">
												<div class="checkout-product-top">
													<span class="text-uppercase px-2">Shipping Fee: </span>
													<span class="price">
														<div
															th:replace="~{fragments :: format_currency(${item.shippingCost})}">
														</div>
													</span>
												</div>
												<div class="checkout-product-bottom mt-2">
													<div class="checkout-img-container">
														<img th:src="@{${product.mainImagePath}}"
															class="img-fluid"></img>
													</div>
													<div class="d-flex flex-column pr-1">
														<a th:href="@{'/p/' + ${product.alias}}" target="_blank"
															class="text-secondary text-decoration-none text-name">
															[[${product.shortName}]]
														</a>
														<span class="text-secondary text-quantity">Quantity:
															[[${item.quantity}]]</span>

													</div>
													<div class="price">
														<div
															th:replace="~{fragments :: format_currency(${item.subtotal})}">
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>

								</div>
							</div>
						</div>

						<div class="checkout-card my-2">
							<div class="w-100">
								<div class="w-100 mb-3">
									<h5>Payment Method</h5>
								</div>
								<div class="">
									<div th:if="${checkoutInfo.codSupported}">
										<form th:action="@{/place_order}" method="post">
											<p>
												<input type="radio" name="paymentMethod" id="radioCOD" value="COD" />
												Cash on Delivery (COD)
												<button class="btn btn-danger d-none" type="submit"
													id="buttonSubmit">Place Order with COD</button>
											</p>
										</form>
									</div>

									<div id="paypal-button-container"></div>
									<form th:action="@{/process_paypal_order}" method="post" id="paypalForm">
										<input type="hidden" name="orderId" id="orderId" />
										<input type="hidden" name="paymentMethod" value="PAYPAL" />
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="checkout-right-container ml-md-2 ml-0">
						<div class="checkout-card w-100">
							<div class="w-100">
								<div class="">
									<h5>Shipping to</h5>
								</div>
								<div>
									<div>
										<div>
											<span class="name pr-2 mr-1">[[${cusName}]]</span>
											<span>[[${cusPhoneNumber}]]</span>
										</div>
										<div class="mb-1">
											<span class="text-secondary">Address: </span>
											<span>[[${address}]]</span>
										</div>
										<a th:href="@{/address_book(redirect=checkout)}"
											class="text-decoration-none">Ship to another address</a>
									</div>
									<p class="my-2">
										<b>Days to deliver: </b>[[${checkoutInfo.deliverDays}]] day(s)
									</p>
									<p>
										<b>Expected deliver date: </b>[[${#dates.format(checkoutInfo.deliverDate, 'E, dd
										MMM
										yyyy')}]]
									</p>
								</div>
							</div>
						</div>
						<div class="checkout-card my-2">
							<div class="d-flex justify-content-between mt-2 w-100 ">
								<h5>Order</h5>

								<a th:href="@{/cart}" class="text-decoration-none">Change</a>
							</div>
							<div class="d-flex justify-content-between mt-2 w-100">
								<div class="text-secondary title">Product Total: </div>
								<div class="offset-1">
									<div th:replace="~{fragments :: format_currency(${checkoutInfo.productTotal})}">
									</div>
								</div>
							</div>

							<div class="d-flex justify-content-between mt-2 w-100">
								<div class="text-secondary title">Shipping Total: </div>
								<div class="offset-1">
									<div
										th:replace="~{fragments :: format_currency(${checkoutInfo.shippingCostTotal})}">
									</div>
								</div>
							</div>
							<hr class="w-100">

							<div class="d-flex justify-content-between mt-1 w-100">
								<div class="title">Payment Total: </div>
								<div class="offset-1">
									<span class="text-danger price-total">
										<div th:replace="~{fragments :: format_currency(${checkoutInfo.paymentTotal})}">
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>

			<div th:replace="~{fragments :: modal_dialog}"></div>
			<div th:replace="~{navigation :: footer_menu}"></div>
		</div>
	</div>
	</div>
	<script th:src="@{https://www.paypal.com/sdk/js(client-id=${paypalClientId},currency=${currencyCode})}"></script>
	<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";

		$(document).ready(function () {
			$("#radioCOD").on("click", function () {
				$("#buttonSubmit").removeClass("d-none");
			});
		});

		function validateOrder(orderId) {
			$("#orderId").val(orderId);
			$("#paypalForm").submit();
		}

		paypal.Buttons({
			enableStandardCardFields: true,
			createOrder: function (data, actions) {
				// setup a transaction
				return actions.order.create({

					intent: 'CAPTURE', // make payment immediately
					payer: {
						name: {
							given_name: "[[${customer.firstName}]]",
							surname: "[[${customer.lastName}]]"
						},

						address: {
							address_line_1: "[[${customer.addressLine1}]]",
							address_line_2: "[[${customer.addressLine2}]]",
							admin_area_1: "[[${customer.state}]]",
							admin_area_2: "[[${customer.city}]]",
							postal_code: "[[${customer.postalCode}]]",
							country_code: "[[${customer.country.code}]]"
						},

						email_address: "[[${customer.email}]]",

						phone: {
							phone_type: "MOBILE",
							phone_number: {
								national_number: "[[${customer.phoneNumber}]]"
							}
						}
					},

					purchase_units: [{
						amount: {
							value: "[[${checkoutInfo.paymentTotal4PayPal}]]",
							currency_code: "[[${currencyCode}]]"
						}
					}],

					application_context: {
						shipping_preference: "NO_SHIPPING"
					}
				});
			},

			onApprove: function (data, actions) {
				// buyer approved payment
				return actions.order.capture().then(function (details) {
					//console.log(details);
					orderId = details.id;
					validateOrder(orderId);
				});
			},

			onCancel: function (data) {
				// buyer cancelled payment
				alert('Payment cancelled by the buyer');
			},

			onError: function (err) {
				// error that prevents buyer from doing checkout
				showErrorModal("Something wrong with your address information, so payment will not work.");
			}
		}).render("#paypal-button-container");

	</script>
</body>

</html>
</body>

</html>