<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

	<title>Shopping Cart</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-homepage.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js}"
		crossorigin="anonymous"></script>
	<link href="bootstrap-rating.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/style-cart.css}" />
</head>

<body>
	<div class="w-100 h-100">
		<div class="d-flex flex-column w-100 h-100">
			<div th:replace="~{navigation :: header_menu}"></div>

			<!--main content starts-->
			<div class="w-100 cart-container mt-4">
				<div class="text-left">
					<h4 class="text-uppercase">Shopping Cart</h4>
				</div>

				<div class="d-flex flex-column flex-md-row gap-1 align-items-start">
					<div class="cart-left-container d-flex flex-column justify-content-center">
						<div class="header">
								<div><span>All products</span></div>
								<div><span class="d-md-block d-none">Price</span></div>
								<div><span class="d-md-block d-none">Quantity</span></div>
								<div><span class="d-md-block d-none">Total</span></div>
								<div><span class="fas fa-trash icon-dark "></span></div>
							</div>
						<th:block th:each="item, status : ${cartItems}">
							<div class="content mt-2" th:with="product = ${item.product}" th:id="'row' + ${status.count}">
								<div class="divCount d-none">[[${status.count}]]</div>
								<div class="cart-product-img-name-container d-flex align-items-center">
									<div class="mx-1 cart-product-img-container">
										<img th:src="@{${product.mainImagePath}}" class="img-fluid" />
									</div>
									<div class="d-flex flex-column name-price">
										<a th:href="@{'/p/' + ${product.alias}}" target="_blank"
											th:title="${product.name}" class="text-decoration-none text-dark">
											<span class="text-three-line">[[${product.shortName}]]</span>
										</a>
										<div class="d-flex d-md-none justify-content-between align-items-center">
											<div class="d-flex flex-column d-md-none justify-content-center gap-1">
												<div class="d-md-none d-block">
													<div th:replace="~{product/product_fragment :: product_price}">
													</div>
												</div>
												<div class="d-md-none d-block mb-2">
												<div
													th:replace="~{cart/quantity_control :: quantity_control(${item.quantity}, ${product.id})}">
												</div>
												</div>
												<span class="price text-danger font-weight-bold d-block d-md-none">
													<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}"
														th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span
														th:id="'subtotal' + ${product.id}"
														class="subtotal price text-danger font-weight-bold">[[${#numbers.formatDecimal(item.subtotal,
														1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS,
														DECIMAL_POINT_TYPE)}]]</span>
													<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}"
														th:remove="tag"
														class="price text-danger font-weight-bold"><sup>[[${CURRENCY_SYMBOL}]]</sup></span>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="d-none d-md-block">
									<div th:replace="~{product/product_fragment :: product_price}"></div>
								</div>
								<div class="d-none d-md-block">
									<div
										th:replace="~{cart/quantity_control :: quantity_control(${item.quantity}, ${product.id})}">
									</div>
								</div>
								<span class="price text-danger font-weight-bold d-none d-md-block">
									<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}"
										th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span
										th:id="'subtotal' + ${product.id}"
										class="subtotal price text-danger font-weight-bold">[[${#numbers.formatDecimal(item.subtotal,
										1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span>
									<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag"
										class="price text-danger font-weight-bold"><sup>[[${CURRENCY_SYMBOL}]]</sup></span>
								</span>
								<div class="d-none d-md-block">
									<a class="fas fa-trash icon-dark linkRemove" th:rowNumber="${status.count}"
										th:href="@{'/cart/remove/' + ${product.id}}"></a>
								</div>

								<div class="d-block d-md-none">
									<a class="fas fa-trash icon-dark linkRemove" th:rowNumber="${status.count}"
										th:href="@{'/cart/remove/' + ${product.id}}"></a>
								</div>
							</div>
							<div class="d-none" th:id="'blankLine' + ${status.count}">&nbsp;</div>
						</th:block>
					</div>

					<div class="cart-right-container ml-0 ml-md-2 ml-lg-4 mb-md-0 mb-3 mt-md-0 mt-3"
						th:unless="${#lists.isEmpty(cartItems)}" id="sectionTotal">
						<!--address-->
						<div class="address-container">
							<div class="d-flex flex-column">
								<div class="d-flex justify-content-between">
									<span class="text-secondary address-title">Address</span>
									<span th:if="${usePrimaryAddressAsDefault}">
										<a th:href="@{/account_details(redirect=cart)}"
											class="text-decoration-none font-weight-bold">Update</a>
									</span>
								</div>
								<div>
									<span class="name pr-2 mr-1">name</span>
									<span>0987654321</span>
								</div>
								<span class="text-secondary">Address line 1</span>
							</div>

							<div th:unless="${usePrimaryAddressAsDefault}">
								<a th:href="@{/address_book(redirect=cart)}" class="text-decoration-none">Use another
									shipping address</a>
							</div>
						</div>

						<div class="money mt-2">
							<div class="d-flex justify-content-between">
								<span class="text-secondary">Estimated Total:</span>
								<div>
									<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}"
										th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span id="total"
										class="price">[[${#numbers.formatDecimal(estimatedTotal, 1,
										THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span>
									<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag"><sup
											class="price">[[${CURRENCY_SYMBOL}]]</sup></span>
								</div>
							</div>
							<div class="mt-2">
								<div th:unless="${shippingSupported}">
									<div class="no-ship pt-2">
										<span class="h5 text-warning">No shipping available for your location</span>
									</div>
								</div>
							</div>
						</div>
						<div th:if="${shippingSupported}">
							<form th:action="@{/checkout}">
								<button type="submit" class="btn btn-danger p-2 mt-2 w-100">Check Out</button>
							</form>
						</div>
					</div>
				</div>

				<div id="sectionEmptyCartMessage"
					th:class="'' + ${#lists.isEmpty(cartItems) ? ' d-flex flex-column justify-content-center align-items-center my-auto' : ' d-none'}">
					<div class="cart-empty-img-container">
						<img th:src="@{/images/empty-cart.png}">
					</div>
					<h3 class="text-title text-center">Your cart is empty!</h3>
					<span class="text-center">Looks like you haven't added anything to your cart yet</span>
					<a class="btn btn-primary mt-4 mb-4 mb-sm-0" th:href="@{/}">Shop Now</a>
				</div>
			</div>
			<!--main content ends-->

			<div th:replace="~{fragments :: modal_dialog}"></div>
			<div th:replace="~{navigation :: footer_menu}"></div>
		</div>
	</div>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";

		decimalDigits = [[${DECIMAL_DIGITS}]];
		decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
		thousandsPointType = "[[${THOUSANDS_POINT_TYPE}]]";

	</script>
	<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/shopping_cart.js}"></script>
	<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
</body>

</html>