.container-detail-1,.container-detail-3 {
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
}

.container-detail{
	padding: 0px;

    border-radius: 10px;
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.container-detail .container{
	display: flex;
    flex-direction: column;
    gap: 16px;
}

.first-detail{
	    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 16px;
   
}
.second-detail{
	display: flex;flex-direction: column;background: white;border-radius: 8px;padding: 16px;
}

.second-detail .child-second-dt{
	display: flex;
    flex-direction: column;
}

.second-detail b{
	line-height: 45px;
	color: rgb(128, 128, 137);
}

.layout-outside{
	display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(235, 235, 240);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: rgb(39, 39, 42);
    gap: 8px;
}

.spacing{
	background-color: rgb(255, 255, 255);
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: rgb(39, 39, 42);
    -webkit-box-align: center;
    align-items: center;

}


.modify-name {
    margin: 0px;
    color: rgb(39, 39, 42);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    word-break: break-word;
    white-space: break-spaces;
}

.price-modify {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.font-mode {
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}


.quantity-container {
	display: flex;
	align-items: center;
}

.quantity-container > button {
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	border: 1px solid rgb(236, 236, 236);
	border-radius: 4px;
}

.quantity-container input {
	width: 40px;
	background-color: #FFFFFF;
	border: 1px solid rgb(236, 236, 236);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 34px;
} 

.product-price .fs-style-1{
	font-size: 12px!important;
	font-weight: 400;
}

.quantity-container 
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.quantity-container  input:focus, input:active {
	outline: none !important;
    border:1px solid #4E73DF;
    box-shadow: rgb(0, 0, 255, 0.1) 0px 4px 12px;
}

.product-detail-container .price-modify span,.product-detail-container .price{
	font-size: 26px;
}