body {
	padding: 0;
	margin: 0 !important;
	background-color: #f5f5fa !important;
	box-sizing: border-box;
	font-size: 14px !important;
	height: 100vh;
}

.home-main-contanier {
	padding: 0 5rem;
}

.home_all-product-container__header {
	background-color: #FFFFFF;
	padding: 10px 0;
	border-radius: 16px 16px 0 0;
	margin-bottom: 8px;
}

.home_all-product-container__content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 16px;
	border-radius: 0 0 4px 4px;
}

.home_all-product-container__content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-self: stretch;
	gap: 8px;
	border-top: 1px solid rgb(242, 242, 242);
}


.home-sale-container__content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-self: stretch;
	gap: 8px;
	border-top: 1px solid rgb(242, 242, 242);
}

.active,
.active .nav-link>* {
	color: #0068ff;
}

.nav-link i {
	margin-right: 4px;
}

.container-item::after:hover {
	cursor: pointer;
	color: #BAD7E9;
}

.box {
	border-radius: 20px;
	min-width: 400px;
	place-items: center;
	background-color: white;

}

.search {
	width: 600px;
}

.search input {
	padding-left: 10px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 8px 0px 0px 8px;
}

.search input:focus {
	outline-color: #3b7dff;
	padding-left: 10px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 8px 0px 0px 8px;
}

.search button {
	color: #3b7dff;
	min-width: 80px;
	text-align: center;
	border-radius: 0px 8px 8px 0px;
	border: 1px solid rgb(192, 192, 192);
}

.search button:focus {
	color: white;
	outline-color: #6499E9;
	background-color: #6499E9;
	max-width: 100px;
	text-align: center;
	border: 1px solid rgb(192, 192, 192);
}


.item-left {
	width: 30%;
}

.search-button {
	background-color: #FFFFFF;
	border-radius: 0 8px 8px 0;
	height: 36px;
}

.search-button:hover,
.search-button:focus {
	background-color: #CEE1FF;
}

.w-10 {
	width: 10%;
}

.w-15 {
	width: 15%;
}

.w-40 {
	width: 35%;
}

.w-60 {
	width: 60%;
}

.w-85 {
	width: 85%;
}

.w-90 {
	width: 90%;
}

.search-input {
	border: 0;
	border-right: 1px solid rgb(221, 221, 227);
	border-radius: 8px 0 0 8px;
	height: 30px;
}

.search-input:hover,
.search-input:focus {
	outline: none !important;
}

.search-container {
	border: 1px solid rgb(221, 221, 227);
	border-radius: 8px;
}

.search-container:hover,
.search-container:focus {
	border: 1px solid #6499E9;
}

.nav-last-item {
	border-left: 1px solid rgb(221, 221, 227);
	padding-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item a {
	border-radius: 8px;
}

.nav-item:last-child {
	display: flex;
	align-items: center;
}

.nav-link:hover {
	background-color: #E5E5E5;
	cursor: pointer;
}

.active .nav-link:hover {
	background-color: #C2D9FF !important;
}

.text-descript {
	font-size: 13px;
	font-weight: 500;
}

.search-nav-item-box-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer_menu {
	margin-top: auto;
}

.nav-general>*,
.nav-general {
	font-size: 17px;
	font-weight: 600;
}

.footer-container nav ul li .nav-link:hover {
	background-color: #FFFFFF !important;
}

.btn-sale {
	/*background: rgb(245, 245, 250);
	color: rgb(39, 39, 42);
	background: rgb(245, 245, 250);
	color: rgb(39, 39, 42);
	*/
	background-color: rgb(240, 219, 115);
	color: rgb(206, 30, 40);
	font-size: 12px;
	font-weight: 500;
	line-height: 150%;
	padding: 2px 4px;
}

.btn-sale-container {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: flex-start;
}

.category-product-container {
	width: 90%;
}

.category-parent {
	min-width: 237px;
}

.category-container {
	box-shadow: rgb(0, 0, 255, 0.1) 0px 4px 12px;
	border-radius: 5px;
	background-color: #ffffff;
	padding-bottom: 20px;
	width: 100%;
	max-height: 100vh;
	overflow-y: scroll;
	padding: 0 8px;
	box-sizing: content-box;
}

.category-container h5 {
	cursor: default;
}

.category-container .category-img-container {
	width: 20px;
	height: 20px;
}

.category-container .category-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.category-item-container {
	border-radius: 6px;
}

.category-item-container:hover {
	background-color: #E5E5E5;
	cursor: pointer;
}

.home-slider-container {
	width: 100%;
	height: 400px;
}

.home-sale-container {
	background-color: #FFFFFF;
	border-radius: 20px;
}

.home-slider-container .left {
	width: 70%;
}

.home-slider-container .right {
	width: 30%;
	gap: 8px;
}

.product-item-b-container {
	border: 1px solid #E5E5E5;
	border-radius: 4px;
}

.product-item {
	background-color: #FFFFFF;
}

.btn-more>* {
	color: #0068ff;
	font-weight: 600;
}

.btn-more:hover {
	transform: scale(1.1);
}

.product-item__image-container {
	width: 100%;
	height: 200px;
}

.product-item__image-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 1250px) {
	.search {
		width: 400px;
	}

}

@media screen and (max-width: 1160px) {
	.home_all-product-container__content {
		grid-template-columns: repeat(5, 1fr);
		gap: 8px;
	}

	.home-sale-container__content .product-item>* {
		width: 100px;
	}

	.home-sale-container__content .product-item .content .top,
	.home-sale-container__content .product-item .content .top .star-rating,
	.home-sale-container__content .product-item .btn-sale, 
	.home-sale-container__content .product-item-price-container span,
	.home-sale-container__content .product-item-price-container del {
		font-size: 0.6rem !important;
	}

	.home-sale-container__content .product-item .price {
		font-size: 0.8rem;
	}

	.home-sale-container__content .product-item .content .top {
		height: 50px;
	}
}

@media screen and (max-width: 1150px) {

	.text-descript {
		font-size: 10x;
	}

}

@media screen and (max-width: 995px) {
	.home_all-product-container__content {
		grid-template-columns: repeat(4, 1fr);
		gap: 8px;
	}

	.home-slider-container {
		height: 300px;
	}

	.home-sale-container__content {
		gap: 3px;
	}
}

@media only screen and (min-width: 960px) and (max-width: 995px) {
	.search-nav-item-box-container {
		width: fit-content;
	}
	.navbar {
		align-items: start !important;
	}
}

@media screen and (max-width: 960px) {
	.search {
		width: 400px;
	}

	.search-nav-item-box-container {
		display: block;
		width: fit-content;
	}

	.nav-last-item {
		border: none;
		padding: 0;
	}

	.navbar {
		align-items: start !important;
	}

}

@media screen and (max-width: 920px) {

	.home-sale-container__content .product-item .content .top,
	.home-sale-container__content .product-item .content .top .star-rating,
	.home-sale-container__content .product-item .btn-sale,
	.home-sale-container__content .text-sold {
		font-size: 0.4rem;
	}

	.home-sale-container__content .product-item .price {
		font-size: 0.5rem;
	}

	.home-sale-container__content .product-item .content .top {
		height: 40px;
	}

	.category-parent {
		min-width: 190px;
	}
}

@media screen and (max-width: 677px) {
	.search {
		width: 300px;
	}

	.home_all-product-container__content {
		grid-template-columns: repeat(3, 1fr);
		gap: 8px;
	}

	.home-slider-container {
		height: 200px;
	}


}


@media screen and (max-width: 500px) {
	.home_all-product-container__content {
		grid-template-columns: repeat(2, 1fr);
		gap: 3px;
	}

	.home-slider-container {
		height: 150px;
	}
}