.sidebar {

	background-color: #ffffff;
	position: sticky;
	color: white;
	top: 0;
	display: flex;
	width: 12%;
	z-index: 1;
	color: black;
	overflow: auto;
	height: 100%;
	margin: 15px 15px 0px 0px;
	border-radius: 8px;
}


.sidebar div {
	text-decoration: none;
	display: flex !important;
}

.sidebar a {
	text-decoration: none;
	color: black;
}

.sidebar a:hover {
	text-decoration: none;
}

.main {
	justify-content: center !important;
	background-color: #f5f5fa;
	display: flex;
}

.sidebar-container {
	display: flex;
	flex-direction: column;
}

.sidebar-container .item-cate a {
	margin-left: 20px;
	text-align: start;
}

.sidebar-container .item-cate:hover {
	border-radius: 10px;
	background-color: rgb(224, 224, 224);
}