body {
	background-color: #f5f5fa;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.breadcrumb {
	background-color: #f5f5fa !important;
}

.modal-account-container {
	width: 80%;
	border-radius: 12px;
	background-color: #FFFFFF;
	padding: 10px;
}

.modal-account-container .left-container,
.modal-account-container .right-container {
	width: 50%;
}

.profile-content-container .title-header {
	font-size: 20px;
}

.profile-content-container .sub-title-header {
	font-size: 19px;
	color: #64646D;
}

.modal-account-container .left-container,
.modal-account-container .right-container {
	padding: 0 10px;
}

.form-account-container .form-tittle .facebook {
	color: #000000;
}

.form-account-container .form-tittle .google img {
	width: 20px;
	height: 20px;
	object-fit: cover;
}

.btn-account-linked {
	width: 90px !important;
	height: 34px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-account-unlinked {
	width: 90px !important;
	height: 32px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-account-linked {
	background-color: #F0F0F0 !important;
	border-color: #F0F0F0 !important;
}

.btn-account-linked:hover {
	color: blue !important;
}

.bi-facebook {
	font-size: 24px;
}

.message-alert {
	position: absolute;
	z-index: 1;
	top: 0;
	right: -10px;
	-webkit-animation: run 0.5s linear forwards, hidden 0s ease-in 2s forwards;
}
.change-password-content-container {
	width: 60%;
}
@-webkit-keyframes run {
	0% {
		top: 10%;
		right: 0;
	}

	100% {
		top: 10%;
		right: 4%;
	}
}

@-webkit-keyframes hidden {
	to {
		width: 0;
		height: 0;

	}
}

.form-acount-container {
	width: 100%;
}

.account-side-bar-container .profile-informations {
	background-color: rgb(194, 217, 255, 0.3);
	color: #4E73DF;
}
.change-password-side-bar-container .profile-change-password {
	background-color: rgb(194, 217, 255, 0.3);
	color: #4E73DF;
}
.forgot-password-container .forgot-password-modal {
	background-color: #FFFFFF;
	border-radius: 16px;
	padding: 3rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.forgot-password-container .forgot-password-modal .text-title {
	color: #4E73DF;
}

.forgot-password-container .reset-password-modal {
	width: 30%;
}

@media screen and (max-width: 1250px) {
	.modal-account-container {
		width: 90%;
	}
	.change-password-content-container {
	width: 80%;
}
.forgot-password-container .reset-password-modal {
	width: 36%;
}
}

@media screen and (max-width: 1110px) {
	.account-form-main-container {
		padding: 0 2rem !important;
	}
	.change-password-content-container {
	width: 100%;
}
.forgot-password-container .reset-password-modal {
	width: 40%;
}
}


@media screen and (max-width: 992px) {

	.modal-account-container .left-container,
	.modal-account-container .right-container {
		width: 90%;
	}


	.form-acount-container {
		width: 96%;
		margin: 0 auto;
	}
.forgot-password-container .reset-password-modal {
	width: 50%;
}
}


@media screen and (max-width: 800px) {
	.modal-account-container {
		width: 90%;
	}

}

@media screen and (max-width: 700px) {
	.forgot-password-container .forgot-password-modal {
		padding: 3rem 2rem;
		width: 80%;
	}

}

@media screen and (max-width: 500px) {
	.form-acount-container {
		width: 100%;
	}

	.modal-account-container .left-container,
	.modal-account-container .right-container {
		width: 100%;
	}

}