.checkout-container {
	padding: 0 9rem;
}

.checkout-left-container {
	width: 75%;
}

.checkout-right-container {
	width: 25%;
}

.checkout-card {
	width: 100%;
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.checkout-product-item {
	border: 1px solid #DDDDE3;
	margin: 8px 0;
	border-radius: 4px;
	padding: 16px 8px;
}

.checkout-img-container {
	width: 48px;
	height: 48px;
}

.checkout-img-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.checkout-product-top {
	display: grid;
	grid-template-columns: 80% 20%;
}

.checkout-product-bottom {
	display: grid;
	grid-template-columns: 10% 70% 20%;
}

.checkout-product-bottom .text-name,
.checkout-product-bottom .text-quantity {
	font-weight: 450;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.checkout-product-top .price,
.checkout-product-bottom .price {
	font-weight: 600;
}

.checkout-card .price-total {
	font-weight: 600;
	font-size: 16px;
}

.checkout-card .title {
	font-weight: 500;
}

.checkout-card .name {
	border-right: 1px solid rgb(192, 192, 192);
}

@media screen and (max-width: 1100px) {
	.checkout-container {
		padding: 0 5rem;
	}
}

@media screen and (max-width: 900px) {
	.checkout-container {
		padding: 0 2rem;
	}

	.checkout-left-container {
		width: 65%;
	}

	.checkout-right-container {
		width: 35%;
	}

}

@media screen and (max-width: 768px) {
	.checkout-container {
		padding: 0 1rem;
	}

	.checkout-left-container {
		width: 100%;
	}

	.checkout-right-container {
		width: 100%;
	}

}