body {
	padding: 0;
	margin: 0 !important;
	background-color: #f5f5fa !important;
	box-sizing: border-box;
	font-size: 14px !important;
	height: 100vh;
}

.img-h {
	height: 100px;
}

.header-content {
	height: fit-content;
}

.description {
	padding-left: 2px;
	color: #4a4347;
	font-size: 13px;
}

.description span {
	text-overflow: ellipsis;
	min-width: 100%;
	overflow: hidden;
}

.product-detail a:hover {
	text-decoration: none;
}

.description p {
	margin-bottom: 0px !important;
}

.description .money {
	font-size: 20px;
	font-weight: 700;
}

.description i {
	color: yellow;
	font-size: 12px;
}

.color-bg {
	padding-inline: 16px;
	background-color: #ffffff;
	border-radius: 8px;
}

.img-id {
	margin: 10px;
}

.category-product-container {
	width: 90%;
}

.category-parent {
	min-width: 237px;
}
.category-container {
	box-shadow: rgb(0, 0, 255, 0.1) 0px 4px 12px;
	border-radius: 5px;
	background-color: #ffffff;
	padding-bottom: 20px;
	width: 100%;
	max-height: 100vh;
	overflow-y: scroll;
	padding: 0 8px;
    box-sizing: content-box;
}

.product-container {
	width: 1460px;
	background-color: #f5f5fa;
}

.product-container__header {
	background-color: #ffffff;
	border-radius: 5px;
}

.category-container h5 {
	cursor: default;
}

.category-container .category-img-container {
	width: 20px;
	height: 20px;
}

.category-container .category-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.category-item-container:hover {
	background-color: #E5E5E5;
	cursor: pointer;
}

.sort-container input,
.sort-container .dropdown {
	width: 100px;
	cursor: pointer;
}

.category-search-bar .search-bar nav {
	background-color: #FFFFFF !important;
}

.product-content-container {
	background-color: #f5f5fa;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-self: stretch;
	gap: 8px;
	border-top: 1px solid rgb(242, 242, 242);
}

.product-item-container {
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: rgb(0, 0, 255, 0.1) 0px 4px 12px;
	height: 100%;
}

.product-item-container:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-item-container .product-img-container {
	width: 100%;
	height: 200px;
}

.product-item-container .product-img-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 5px 5px 0 0;
}

.product-item-container .product-item-name {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.product-item-box-container {
	background-color: #FFFFFF;
	border-radius: 5px;
}

.product-item-price-container {
	font-weight: 400;
	height: 40px;
}


.footer-container nav ul li .nav-link:hover {
	background-color: #FFFFFF !important;
}

.form-inline .search {
	width: 200px;
}

.product-container .pagination-container {
	width: 100%;
	background-color: #f5f5fa;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width: 1160px) {
	.product-content-container {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (max-width: 995px) {
	.product-content-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 988px) {
	.product-container__header .form-inline .search {
		width: 140px;
	}

	.product-container__header .sort-container input,
	.product-container__header .sort-container .btn,
	.product-container__header .sort-container .dropdown,
	.product-container__header .search,
	.product-container__header .btn {
		width: 80px;
		font-size: 0.7rem;
	}
}
@media screen and (max-width: 920px) {	
	.category-parent {
		min-width: 190px;
	}
}
@media screen and (max-width: 855px) {
	.product-container__header .search-bar {
		display: none;
	}

.product-container .star-rating {
	font-size: 0.8rem;
}

}
.product-item-content-container .product-item-top {
	height: 90px;
}

@media screen and (max-width: 800px) {
	.category-container {
		min-width: 180px;
	}

	.product-content-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 700px) {
	.category-container {
		min-width: 140px;
	}

	.product-item-container .product-img-container {
		height: 150px;
	}

	.product-container .pagination-container {
		font-size: 0.6rem;
	}

	.pagination-container .pagination-index {
		height: 29.6px !important;
	}

}


@media screen and (max-width: 500px) {
	.product-content-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.product-container .pagination-content-container {
		flex-direction: column-reverse !important;
		gap: 8px;
	}
	.product-container .pagination-content-container .pagination-index {
		width: 70px;
	}
}
