body {
	padding: 0;
	margin: 0;
	background-color: #f5f5fa;
	box-sizing: border-box;
	font-size: 14px !important;
}

i {
	padding-right: 5px;
	text-align: center;
	font-size: 24px;
	color: #808089;
}

.header-nav {
	transform: translateX(30%);
}


.header-nav .item a,
.item-left .item a {
	text-decoration: none;
	color: #808089;
}

.header-nav .item a span {
	transform: translateY(25%);
}

.header-nav .container-item:hover {
	border-radius: 10px;
	background-color: rgb(224, 224, 224);
}

#home.active,
#home.active i {
	color: #0068ff;
}


.container-item {
	padding-bottom: 4px;
	height: 100%;
}

.container-item::after:hover {
	cursor: pointer;
	color: #BAD7E9;
}

.box {
	border-radius: 20px;
	min-width: 400px;
	place-items: center;
	background-color: white;

}

.search {
	width: 600px;
}

.search input {
	padding-left: 10px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 8px 0px 0px 8px;
}

.search input:focus {
	outline-color: #3b7dff;
	padding-left: 10px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 8px 0px 0px 8px;
}

.search button {
	color: #3b7dff;
	min-width: 80px;
	text-align: center;
	border-radius: 0px 8px 8px 0px;
	border: 1px solid rgb(192, 192, 192);
}

.search button:focus {
	color: white;
	outline-color: #6499E9;
	background-color: #6499E9;
	max-width: 100px;
	text-align: center;
	border: 1px solid rgb(192, 192, 192);
}


.item-left {
	width: 30%;
}

.search-button {
	background-color: #FFFFFF;
	border-radius: 0 8px 8px 0;
	height: 46px;
}

.search-button:hover,
.search-button:focus {
	background-color: #CEE1FF;
}

.w-10 {
	width: 10%;
}

.w-15 {
	width: 15%;
}

.w-40 {
	width: 35%;
}

.w-60 {
	width: 60%;
}

.w-85 {
	width: 85%;
}

.w-90 {
	width: 90%;
}

.search-input {
	border: 0;
	border-right: 1px solid rgb(221, 221, 227);
	border-radius: 8px 0 0 8px;
	height: 30px;
}

.search-input:hover,
.search-input:focus {
	outline: none !important;
}

.search-container {
	border: 1px solid rgb(221, 221, 227);
	border-radius: 8px;
}

.search-container:hover,
.search-container:focus {
	border: 1px solid #6499E9;
}

.nav-last-item {
	border-left: 1px solid rgb(221, 221, 227);
	padding-left: 10px;
}

.nav-item a {
	padding: 10px 20px !important;
	border-radius: 8px;
}

.nav-link:hover {
	background-color: #CBCBCC;
	cursor: pointer;
}

.nav-item .active:hover {
	background-color: #C2D9FF;
}

.nav-general > *, .nav-general {
	font-size: 20px ;
}

@media screen and (max-width: 1250px) {
	.search {
		width: 500px;
	}
	.nav-general > *, .nav-general {
	font-size: 19px ;
}

}

@media screen and (max-width: 1250px) {
	.search {
		width: 500px;
	}
	.nav-general > *, .nav-general {
	font-size: 18px;
}

}