.review-side-bar-container .profile-reviews {
	background-color: rgb(194, 217, 255, 0.3);
	color: #4E73DF;
}

.breadcrumb {
	background-color: #f5f5fa;
}

.rating-product-container {
	background-color: #FFFFFF;
	margin: 0 5rem;
	border-radius: 5px;
}

.rating-product_pagination-container {
	padding: 0 5rem;
} 

.rating-product-container .rating-product_vote-container .btn-most-voted,
.rating-product-container .rating-product_recent-container .btn-most-recent {
	background-color: #4E73DF !important;
	color: #FFFFFF !important;
}

.rating-product-container .rating-price {
	font-size: 30px;
	font-weight: 600;
}

.rating-product-container .star {
	font-size: 8px !important;
}

.rating-form-container {
	padding: 0 5rem;
}
.rating-screen-time span {
	font-size: smaller !important;
}

.product-detail_rating-product-container .rating-md {
	font-size: 14px !important;
}
@media screen and (max-width: 500px) {
	.rating-form-container {
		padding: 0 2rem;
	}
}