* {
	font-size: 14px;
}

.search-results-container .breadcrumb {
	background-color: #f5f5fa;
}

.search-results-container .empty-product-container {
	background-color: #f5f5fa !important;
}

*.icon-white {
	color: white
}

*.icon-silver {
	color: silver
}

*.icon-green {
	color: green
}

*.icon-dark {
	color: gray
}

/* star rating */

.star-rating>i {
	font-size: 0.8em;
}

.text-sold {
	font-size: 0.96rem;
}

.text-three-line {
	font-size: 0.9em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.product-item .content .top {
	height: 100px;
}

.star-rating .fa-solid,
.star-rating {
	color: yellow;
}

/* star rating */
.home_all-product-container {
	background-color: #f5f5fa;
}

.product-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgb(0, 0, 255, 0.1) 0px 4px 12px;
}

.product-item:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-item .content {
	padding: 5px;
}

.product-item-link,
.product-item-link:hover {
	color: #000000;
}

.product-item-link .price {
	font-weight: 500;
	font-size: large;
}

.product-item__image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
}

.carousel-container {
	width: 100%;
	height: 200px;
}

.carousel-container .track {
	display: flex;
}

.carousel-container .card-container {
	width: 200px;
	height: 250px;
	flex-shrink: 0;
}

.carousel-container .card-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search-product-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	border-radius: 20px;
	gap: 8px;
}

.search-product-header {
	background-color: #FFFFFF;
	border-radius: 20px;
}

@media screen and (max-width: 768px) {

	/* small screen */
	div.full-details {
		display: none
	}

	div.less-details {
		display: block;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

	/* medium screen */
	div.full-details {
		display: block;
	}

	div.less-details {
		display: none;
	}

	.hideable-column {
		display: none
	}
}


@media screen and (min-width: 1024px) {

	/* small screen */
	div.less-details {
		display: none;
	}

	.hideable-column {
		display: table-cell;
	}
}

.bg-color {
	background-color: #f5f5fa;
}


@media screen and (max-width: 1230px) {
	.search-product-container {
		grid-template-columns: repeat(7, 1fr);
	}
}


@media screen and (max-width: 1058px) {
	.search-product-container {
		grid-template-columns: repeat(6, 1fr);
	}
}


@media screen and (max-width: 890px) {
	.search-product-container {
		grid-template-columns: repeat(5, 1fr);
	}
}


@media screen and (max-width: 750px) {
	.search-product-container {
		grid-template-columns: repeat(4, 1fr);
	}
}


@media screen and (max-width: 622px) {
	.search-product-container {
		grid-template-columns: repeat(3, 1fr);
	}
}


@media screen and (max-width: 491px) {
	.search-product-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 353px) {
	.search-product-container {
		grid-template-columns: repeat(1, 1fr);
	}
}