.address-container .btn-add-address {
	background-color: #FFFFFF;
	border: 1px dashed #4E73DF;
	width: 100%;
}

.address-container .address-card {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 10px;
}

.address-container .address-content-container {
	width: 100%;
}

.address-container .address-main-container {
	padding: 0 5rem;
}
.address-side-bar-container .profile-address-book {
	background-color: rgb(194, 217, 255, 0.3);
	color: #4E73DF;
}
.address-container .profile-all-title {
	font-size: 20px;
}
.breadcrumb {
	background-color: #f5f5fa;
}
@media screen and (max-width: 1107px) {
	.address-container .address-main-container {
		padding: 0 2rem;
	}
}